Repository farm-ng/farm-ng-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pragma-once, no-c-std-lib

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: (thirdparty|cpp/sophus2)/.*$
      - id: check-yaml
      - id: check-json
        exclude: docs/.*$

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.13
    hooks:
      - id: insert-license
        files: cpp/sophus/.*\.(h|hpp|cpp|proto|ipp)$
        exclude: (thirdparty|sympy/cpp_gencode)/.*$
        args:
          - --comment-style
          - //
          - --license-filepath
          - sophus2_license_header.txt
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.13
    hooks:
      - id: insert-license
        files: \.(h|cpp|proto|ipp)$
        exclude: (thirdparty|cpp/sophus)/.*$
        args:
          - --comment-style
          - //
          - --license-filepath
          - license_header.txt
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.0
    hooks:
      - id: clang-format
        files: \.(h|cpp|ipp)
        exclude: (cpp/sophus/sympy|thirdparty)/.*$
  - repo: local
    hooks:
      - id: pragma-once
        name: pragma once check
        entry: "#pragma once"
        language: pygrep
        exclude: thirdparty/.*$
        files: \.h$
        args: [--negate]
      - id: no-c-std-lib
        name: c standard library check
        exclude: thirdparty/.*$
        entry: |
          (?x)<(
            assert|complex|ctype|errno|fenv|float|inttypes|iso646|limits|locale|math|setjmp|signal|
            stdalign|stdarg|stdatomic|stdbool|stddef|stdint|stdio|stdlib|stdnoreturn|string|tgmath|
            threads|time|uchar|wchar|wctype
          ).h>
        language: pygrep
        files: \.(h|cpp)$
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, perf, test, ci, build, chore, revert]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        exclude: (thirdparty|cpp/sophus2)/.*$
        args:
          - --ignore-words-list
          - "te,tring,crate"
          - --skip
          - "cpp/thirdparty/*,docs/package-lock.json"
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.284
    hooks:
      - id: ruff
        exclude: (thirdparty|cpp/sophus)/.*$
        args: [--fix, --exit-non-zero-on-fix]

Fix C++17 constexpr constructor error
  cpp/sophus2/calculus/region.h
Due: pragma-once, no-c-std-lib

attempting to re-enable CI
  .github/workflows/ci.yml
  CMakePresets.json
  cmake/vcpkg/ports/default/farm-ng-core/portfile.cmake
  cpp/sophus2/calculus/CMakeLists.txt
  cpp/sophus2/ceres/CMakeLists.txt
  cpp/sophus2/color/CMakeLists.txt
  cpp/sophus2/image/CMakeLists.txt
  cpp/sophus2/linalg/CMakeLists.txt
  cpp/sophus2/sensor/CMakeLists.txt
  scripts/compile_clang.sh
  scripts/compile_clang_asan.sh
  scripts/compile_gcc.sh
Due: none

feat: get_variant macro
  cpp/farm_ng/core/logging/logger.h
Due: pragma-once, no-c-std-lib

Add explicit default initializer to make GCC happy
  cpp/sophus2/calculus/region.h
Due: pragma-once, no-c-std-lib

declare event service proto in cmake lists
  protos/CMakeLists.txt
Due: none

typo
  protos/CMakeLists.txt
Due: none

Add != operator to make GCC happy
  cpp/sophus2/image/pixel_format.cpp
  cpp/sophus2/image/pixel_format.h
Due: pragma-once, no-c-std-lib

Fix up unpoject and ray intersection to support jet types.
  cpp/sophus2/geometry/ray.h
  cpp/sophus2/sensor/camera_distortion/brown_conrady.h
Due: pragma-once, no-c-std-lib

Missing TScalar.
  cpp/sophus2/sensor/CMakeLists.txt
  cpp/sophus2/sensor/camera_distortion/brown_conrady.h
Due: pragma-once, no-c-std-lib

moving some more things around.
  cpp/sophus2/sensor/camera_distortion/brown_conrady.h
Due: pragma-once, no-c-std-lib

compiles.
  cpp/sophus2/common/common.h
  cpp/sophus2/sensor/camera_distortion/brown_conrady.h
  cpp/sophus2/sensor/camera_distortion/kannala_brandt.h
Due: pragma-once, no-c-std-lib

typo
  cpp/sophus2/sensor/camera_distortion/kannala_brandt.h
Due: pragma-once, no-c-std-lib

fix jet_helpers::GetValue for jet types.
  cpp/sophus2/ceres/jet_helpers.h
  cpp/sophus2/manifold/unit_vector.h
Due: pragma-once, no-c-std-lib

Fix unit vector for jet.
  cpp/sophus2/manifold/unit_vector.h
Due: pragma-once, no-c-std-lib

fix rust lint
  rs/plotting/src/graphs/packets.rs
  rs/plotting/src/plotter_gui/mod.rs
Due: none

Recorder Profile in fngCore not Amiga
  protos/CMakeLists.txt
  protos/farm_ng/core/recorder.proto
Due: none

fix unit vector, all sophus tests pass.
  cpp/sophus2/manifold/unit_vector.h
Due: pragma-once, no-c-std-lib

Cygnet ceres support unproject ray (#240)
  cpp/sophus2/ceres/jet_helpers.h
  cpp/sophus2/common/common.h
  cpp/sophus2/geometry/ray.h
  cpp/sophus2/manifold/unit_vector.h
  cpp/sophus2/sensor/CMakeLists.txt
  cpp/sophus2/sensor/camera_distortion/brown_conrady.h
  cpp/sophus2/sensor/camera_distortion/kannala_brandt.h
Due: pragma-once, no-c-std-lib

fix formatting
  protos/farm_ng/core/recorder.proto
Due: none

Expose event_service.proto for farm_ng_amiga (#238)
  protos/CMakeLists.txt
  protos/farm_ng/core/recorder.proto
Due: none

deploy: 43d43d17904f30bbdb73705bc3d95f8cd16d9e1f
  404.html
  assets/js/main.97e005dc.js
  assets/js/main.f2e1289b.js
  assets/js/main.f2e1289b.js.LICENSE.txt
  assets/js/runtime~main.01eb5734.js
  assets/js/runtime~main.0ae0cab3.js
  docs/Developer Guide/poses_and_frames/index.html
  docs/Developer Guide/style-guide/index.html
  docs/category/contributor-guide/index.html
  docs/intro/index.html
  index.html
  markdown-page/index.html
Due: none

Gui/time delays (#231)
  py/farm_ng/core/event_service.py
Due: none

deploy: f4889ee2fff0bc8390f5571f37a811ff0db48c49
  404.html
  assets/js/runtime~main.01eb5734.js
  assets/js/runtime~main.16989db6.js
  docs/Developer Guide/poses_and_frames/index.html
  docs/Developer Guide/style-guide/index.html
  docs/category/contributor-guide/index.html
  docs/intro/index.html
  index.html
  markdown-page/index.html
Due: none

feat: thread-boundary correct start/stop, better stats
  cpp/farm_ng/core/misc/stopwatch.h
Due: pragma-once, no-c-std-lib

feat: largely simplify logic / API
  cpp/farm_ng/core/logging/logger.h
  cpp/farm_ng/core/misc/stopwatch.h
  cpp/sophus2/geometry/point_transform.h
Due: pragma-once, no-c-std-lib

split channel example in test
  cpp/sophus2/calculus/CMakeLists.txt
  cpp/sophus2/ceres/CMakeLists.txt
  cpp/sophus2/color/CMakeLists.txt
  cpp/sophus2/geometry/CMakeLists.txt
  cpp/sophus2/image/CMakeLists.txt
  cpp/sophus2/image/dyn_image_test.cpp
Due: no-c-std-lib

Increment version to v2.3.1
  setup.cfg
  setup.py
Due: none

Increment version to v2.3.1 (#244)
  setup.cfg
  setup.py
Due: none

deploy: 6531bcd59ec5709f0b1906544a46a2cfd9219d19
  404.html
  assets/js/main.d6337613.js
  assets/js/main.d6337613.js.LICENSE.txt
  assets/js/main.f2e1289b.js
  assets/js/runtime~main.16989db6.js
  assets/js/runtime~main.392faf92.js
  docs/Developer Guide/poses_and_frames/index.html
  docs/Developer Guide/style-guide/index.html
  docs/category/contributor-guide/index.html
  docs/intro/index.html
  index.html
  markdown-page/index.html
Due: none

Increment dev version to 2.3.2-dev
  setup.cfg
  setup.py
Due: none

Increment dev version to 2.3.2-dev (#245)
  setup.cfg
  setup.py
Due: none

Fix plotting component name
  cpp/farm_ng/core/plotting/plotting_component.cpp
Due: no-c-std-lib

Update workflow to use macos-12 since macos-11 is deprecated
  .github/workflows/pypi-release.yml
Due: none

Update workflow to use macos-12 since macos-11 is deprecated (#247)
  .github/workflows/pypi-release.yml
Due: none
