Repository farm-ng/farm-ng-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pragma-once, no-c-std-lib

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
  - repo: local
    hooks:
    - id: pylint
      name: pylint
      entry: bash -c 'pylint "$@" || true' --
      verbose: true
      language: system
      exclude: rst-dir
      types: [python]
      args: ["--good-names-rgxs=^[_a-z][_a-z0-9]?$",
             "--max-args=10",
             "--min-similarity-lines=30"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: thirdparty/.*$
      - id: check-yaml
      - id: check-json
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.13
    hooks:
      - id: insert-license
        files: \.(h|cpp|proto)$
        exclude: thirdparty/.*$
        args:
          - --comment-style
          - //
          - --license-filepath
          - license_header.txt
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.0
    hooks:
      - id: clang-format
        files: \.(h|cpp)
        exclude: (thirdparty)/.*$
  - repo: local
    hooks:
      - id: pragma-once
        name: pragma once check
        entry: "#pragma once"
        language: pygrep
        exclude: thirdparty/.*$
        files: \.h$
        args: [--negate]
      - id: no-c-std-lib
        name: c standard library check
        exclude: thirdparty/.*$
        entry: |
          (?x)<(
            assert|complex|ctype|errno|fenv|float|inttypes|iso646|limits|locale|math|setjmp|signal|
            stdalign|stdarg|stdatomic|stdbool|stddef|stdint|stdio|stdlib|stdnoreturn|string|tgmath|
            threads|time|uchar|wchar|wctype
          ).h>
        language: pygrep
        files: \.(h|cpp)$

move cmake to module.
  .gitmodules
  CMakeLists.txt
  cmake/External_ceres.cmake
  cmake/External_eigen.cmake
  cmake/External_expected.cmake
  cmake/External_fmt.cmake
  cmake/External_subdir_Sophus.cmake
  cmake/External_subdir_farm-ng-core.cmake
  cmake/farm_ng_add_library.cmake
  cmake/farm_ng_add_protobufs.cmake
  cmake/farm_ng_add_test.cmake
  cmake/farm_ng_coreConfig.cmake.in
  cmake/farm_ng_default_args.cmake
  cpp/CMakeLists.txt
Due: none

Add cmake submodule.
  .gitmodules
Due: none

fixed python code
  .github/workflows/ci_python.yml
  py/.gitignore
  py/README.md
  py/farm_ng/core/__init__.py
  py/farm_ng/core/events_file_reader.py
  py/farm_ng/core/events_file_writer.py
  py/farm_ng/core/uri.py
  py/setup.cfg
  py/setup.py
  py/tests/__init__.py
  py/tests/test_core.py
  py/tests/test_package.py
  py/tests/tests/__init__.py
Due: pylint

update python ci working directory
  .github/workflows/ci_python.yml
Due: none

fix mypy
  py/README.md
  py/tests/test_core.py
Due: pylint

some fixes in the writer
  py/farm_ng/core/events_file_writer.py
  py/tests/test_core.py
Due: pylint

remove filename from reader constructor
  py/farm_ng/core/events_file_reader.py
  py/farm_ng/core/events_file_writer.py
  py/tests/test_core.py
Due: pylint

re-enable pylint
  .pre-commit-config.yaml
Due: none

delete config cruft.
  cpp/CMakeLists.txt
Due: none

remove cmake, make it external.
  CMakeLists.txt
Due: none

Super project ci for farm-ng-cmake.
  .github/workflows/ci.yml
  CMakeLists.txt
  super_project/.gitignore
  super_project/CMakeLists.txt
  super_project/farm-ng-core
Due: none

simpler ci.
  .github/workflows/ci.yml
Due: none

no submodule.
  .gitmodules
Due: none

Pre-commit.
  CMakeLists.txt
Due: none

fix ci.
  .gitignore
  super_project/CMakeLists.txt
  super_project/farm-ng-core
Due: none

clang-tidy works locally.
  run_clang_tidy.sh
  super_project/CMakeLists.txt
Due: none

Precommit run.
  .gitignore
  super_project/CMakeLists.txt
Due: none

Better cmake (#17)
  .github/workflows/ci.yml
  .gitignore
  CMakeLists.txt
  cmake/External_ceres.cmake
  cmake/External_eigen.cmake
  cmake/External_expected.cmake
  cmake/External_fmt.cmake
  cmake/External_subdir_Sophus.cmake
  cmake/External_subdir_farm-ng-core.cmake
  cmake/farm_ng_add_library.cmake
  cmake/farm_ng_add_protobufs.cmake
  cmake/farm_ng_add_test.cmake
  cmake/farm_ng_coreConfig.cmake.in
  cmake/farm_ng_default_args.cmake
  cpp/CMakeLists.txt
  run_clang_tidy.sh
  super_project/.gitignore
  super_project/CMakeLists.txt
Due: none

Explicit tag.
  super_project/CMakeLists.txt
Due: none

Less boilerplate.
  CMakeLists.txt
  cpp/examples/test_install_targets/CMakeLists.txt
  cpp/farm_ng/core/CMakeLists.txt
  cpp/farm_ng/core/enum/CMakeLists.txt
  cpp/farm_ng/core/logging/CMakeLists.txt
  cpp/farm_ng/core/misc/CMakeLists.txt
  cpp/farm_ng/core/misc/proto/CMakeLists.txt
  cpp/farm_ng/core/prototools/CMakeLists.txt
  super_project/CMakeLists.txt
Due: none

Explicit sha.
  super_project/CMakeLists.txt
Due: none

Explicit tag. (#18)
  CMakeLists.txt
  cpp/examples/test_install_targets/CMakeLists.txt
  cpp/farm_ng/core/CMakeLists.txt
  cpp/farm_ng/core/enum/CMakeLists.txt
  cpp/farm_ng/core/logging/CMakeLists.txt
  cpp/farm_ng/core/misc/CMakeLists.txt
  cpp/farm_ng/core/misc/proto/CMakeLists.txt
  cpp/farm_ng/core/prototools/CMakeLists.txt
  super_project/CMakeLists.txt
Due: none

update reader/writer acoording to public brain api
  .github/workflows/ci_python.yml
  .vscode/settings.json
  protos/farm_ng/core/event.proto
  py/README.md
  py/farm_ng/core/events_file_reader.py
  py/farm_ng/core/events_file_writer.py
  py/farm_ng/core/uri.py
  py/setup.cfg
  py/setup.py
  py/tests/tests/test_core.py
Due: pylint

update reader/writer acoording to public brain api
  py/setup.py
Due: pylint

disable mypy
  .github/workflows/ci_python.yml
Due: none

update name to farm_ng_core
  py/setup.cfg
Due: none

Undo renaming
  py/setup.cfg
Due: none

import only core
  py/farm_ng/__init__.py
  py/setup.cfg
Due: pylint

rename to farm_ng_core
  py/setup.cfg
  py/setup.py
Due: pylint

undo package_dir
  py/setup.cfg
Due: none

remove init
  py/farm_ng/__init__.py
Due: pylint

set version
  py/farm_ng/core/__init__.py
Due: pylint

fix proto linkage
  py/setup.py
Due: pylint

set version for farm_ng_core
  py/farm_ng/core/__init__.py
  py/tests/tests/test_package.py
Due: pylint

fix readme
  py/README.md
Due: none

sync reader from workspace
  protos/farm_ng/core/event.proto
  py/farm_ng/core/events_file_reader.py
  py/farm_ng/core/uri.py
Due: pylint

parse protobuf descriptor
  py/farm_ng/core/events_file_reader.py
  py/farm_ng/core/events_file_writer.py
  py/farm_ng/core/uri.py
  py/tests/tests/test_core.py
Due: pylint

FARM_UNWRAP: Use universal forwarding to cope with const argument.
  cpp/farm_ng/core/logging/logger.h
Due: pragma-once, no-c-std-lib

use v0.1.1 of cmake.
  super_project/CMakeLists.txt
Due: none

WIP fixing up format.
  .gitignore
  .pylintrc
  py/farm_ng/core/events_file_writer.py
  py/farm_ng/core/stamp.py
  py/setup.cfg
  py/tests/tests/test_core.py
Due: pylint
