Repository farm-ng/farm-ng-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pragma-once, no-c-std-lib

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: thirdparty/.*$
      - id: check-yaml
      - id: check-json
        exclude: docs/.*$
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.13
    hooks:
      - id: insert-license
        files: \.(h|cpp|proto)$
        exclude: thirdparty/.*$
        args:
          - --comment-style
          - //
          - --license-filepath
          - license_header.txt
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.0
    hooks:
      - id: clang-format
        files: \.(h|cpp)
        exclude: (thirdparty)/.*$
  - repo: local
    hooks:
      - id: pragma-once
        name: pragma once check
        entry: "#pragma once"
        language: pygrep
        exclude: thirdparty/.*$
        files: \.h$
        args: [--negate]
      - id: no-c-std-lib
        name: c standard library check
        exclude: thirdparty/.*$
        entry: |
          (?x)<(
            assert|complex|ctype|errno|fenv|float|inttypes|iso646|limits|locale|math|setjmp|signal|
            stdalign|stdarg|stdatomic|stdbool|stddef|stdint|stdio|stdlib|stdnoreturn|string|tgmath|
            threads|time|uchar|wchar|wctype
          ).h>
        language: pygrep
        files: \.(h|cpp)$
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, perf, test, ci, build, chore, revert]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list
          - "te"
          - --skip
          - "cpp/thirdparty/*,docs/package-lock.json"
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.284
    hooks:
      - id: ruff

implement decode with tests
  py/farm_ng/core/event_client.py
Due: none

fix typinh
  py/farm_ng/core/event_client.py
  py/tests/_asyncio/test_event_client.py
Due: none

feat: RigidCamera type and protos
  cpp/farm_ng/core/proto_conv/sensor/CMakeLists.txt
  cpp/farm_ng/core/proto_conv/sensor/conv.cpp
  cpp/farm_ng/core/proto_conv/sensor/conv.h
  cpp/sophus/sensor/camera_rig.h
  protos/farm_ng/core/sensor.proto
Due: pragma-once, no-c-std-lib

feat: log to disk option
  cpp/farm_ng/core/logging/logger.cpp
  cpp/farm_ng/core/logging/logger.h
Due: pragma-once, no-c-std-lib

experimental return decoded request
  py/farm_ng/core/event_service.py
Due: none

add test for callback
  py/tests/_asyncio/test_event_client.py
Due: none

fix mypy
  py/farm_ng/core/event_service.py
Due: none

some more proto-tools
  cpp/farm_ng/core/proto_conv/CMakeLists.txt
  cpp/farm_ng/core/proto_conv/calculus/conv.cpp
  cpp/farm_ng/core/proto_conv/std/CMakeLists.txt
  cpp/farm_ng/core/proto_conv/std/conv.cpp
  cpp/farm_ng/core/proto_conv/std/conv.h
  cpp/farm_ng/core/proto_conv/std/conv_impl_macro.ipp
  cpp/farm_ng/core/proto_conv/std/conv_test.cpp
  cpp/farm_ng/core/proto_conv/struct/CMakeLists.txt
  cpp/farm_ng/core/proto_conv/struct/conv_impl_macro.ipp
  cpp/farm_ng/core/proto_conv/struct/conv_impl_macro_test.cpp
  cpp/farm_ng/core/proto_conv/traits.h
  protos/CMakeLists.txt
  protos/farm_ng/core/calculus.proto
  protos/farm_ng/core/std.proto
Due: pragma-once, no-c-std-lib

fix: failing tests
  cpp/farm_ng/core/logging/logger.cpp
  cpp/farm_ng/core/proto_conv/struct/conv_impl_macro_test.cpp
  farm_ng_core.code-workspace
Due: no-c-std-lib

style: introduce consistent/convenient syle for Macro_Args
  .pre-commit-config.yaml
  cpp/farm_ng/core/proto_conv/std/conv_impl_macro.ipp
  cpp/farm_ng/core/proto_conv/struct/conv_impl_macro.ipp
  cpp/farm_ng/core/struct/base.h
  cpp/farm_ng/core/struct/base_test.cpp
  cpp/farm_ng/core/struct/macro_lib.h
  cpp/farm_ng/core/struct/struct.h
Due: pragma-once, no-c-std-lib

style: introduce consistent syle for Macro_Args - make them pop
  cpp/farm_ng/core/proto_conv/std/conv_impl_macro.ipp
  cpp/farm_ng/core/proto_conv/struct/conv_impl_macro.ipp
  cpp/farm_ng/core/struct/base.h
  cpp/farm_ng/core/struct/macro_lib.h
  cpp/farm_ng/core/struct/struct.h
Due: pragma-once, no-c-std-lib

deploy: 3add82c385bc01a3c675eeed26adef1519a6cc14
  404.html
  assets/css/styles.c2856756.css
  assets/css/styles.d7ebd3e8.css
  assets/js/1be78505.6bc278f4.js
  assets/js/1be78505.a51c4d2b.js
  assets/js/455.0bd37805.js
  assets/js/455.98acbaa8.js
  assets/js/main.96ae7ec8.js
  assets/js/main.9b41c5b7.js
  assets/js/main.9b41c5b7.js.LICENSE.txt
  assets/js/runtime~main.71410925.js
  assets/js/runtime~main.af9825b4.js
  docs/Developer Guide/poses_and_frames/index.html
  docs/Developer Guide/style-guide/index.html
  docs/category/contributor-guide/index.html
  docs/intro/index.html
  index.html
  markdown-page/index.html
Due: none

feat: remote-plotting
  .pre-commit-config.yaml
  cpp/farm_ng/core/CMakeLists.txt
  cpp/farm_ng/core/plotting/CMakeLists.txt
  cpp/farm_ng/core/plotting/plotting_component.cpp
  cpp/farm_ng/core/plotting/plotting_component.h
  cpp/farm_ng/core/plotting/plotting_component_test.cpp
  cpp/farm_ng/core/plotting/remote_plot_example.cpp
  cpp/farm_ng/core/plotting/remote_plotting_client.cpp
  cpp/farm_ng/core/plotting/remote_plotting_client.h
  cpp/farm_ng/core/plotting/remote_plotting_client_test.cpp
  cpp/farm_ng/core/plotting/types.cpp
  cpp/farm_ng/core/plotting/types.h
  cpp/farm_ng/core/plotting/types_test.cpp
  cpp/farm_ng/core/proto_conv/CMakeLists.txt
  cpp/farm_ng/core/proto_conv/color/CMakeLists.txt
  cpp/farm_ng/core/proto_conv/color/conv.cpp
  cpp/farm_ng/core/proto_conv/color/conv.h
  cpp/farm_ng/core/proto_conv/color/conv_test.cpp
  cpp/farm_ng/core/proto_conv/plotting/CMakeLists.txt
  cpp/farm_ng/core/proto_conv/plotting/conv.cpp
  cpp/farm_ng/core/proto_conv/plotting/conv.h
  cpp/farm_ng/core/proto_conv/plotting/conv_test.cpp
  cpp/sophus/.vscode/extensions.json
  cpp/sophus/CMakeLists.txt
  cpp/sophus/color/CMakeLists.txt
  cpp/sophus/color/color.cpp
  cpp/sophus/color/color.h
  cpp/sophus/color/color_test.cpp
  protos/CMakeLists.txt
  protos/farm_ng/core/color.proto
  protos/farm_ng/core/plotting/plotting.proto
  rs/remote_plot/.gitignore
  rs/remote_plot/Cargo.toml
  rs/remote_plot/build.rs
  rs/remote_plot/src/grpc.rs
  rs/remote_plot/src/lib.rs
  rs/remote_plot/src/main.rs
  rs/remote_plot/src/message.rs
  rs/remote_plot/src/plot_gui.rs
  rs/remote_plot/src/plotting_service.rs
Due: pragma-once, no-c-std-lib

deploy: b41c3f557974c91d1ae8597aff31e41f332a154f
  api_reference/.empty
Due: none

deploy: c90ff7f9dbecd16e41abda1b261a3810aa45dc3d
  404.html
  assets/js/main.87b6ab31.js
  assets/js/main.87b6ab31.js.LICENSE.txt
  assets/js/main.9b41c5b7.js
  docs/Developer Guide/poses_and_frames/index.html
  docs/Developer Guide/style-guide/index.html
  docs/category/contributor-guide/index.html
  docs/intro/index.html
  index.html
  markdown-page/index.html
Due: none

deploy: 1cb0a49a1884a07bd725e69635031236209e5066
  404.html
  assets/js/main.87b6ab31.js
  assets/js/main.dc935f39.js
  assets/js/main.dc935f39.js.LICENSE.txt
  docs/Developer Guide/poses_and_frames/index.html
  docs/Developer Guide/style-guide/index.html
  docs/category/contributor-guide/index.html
  docs/intro/index.html
  index.html
  markdown-page/index.html
Due: none

relax add_request_reply_handler
  py/farm_ng/core/event_service.py
Due: none

deploy: afe365c9cbcb6eac70e7ba654b3784eaffb3ca15
  404.html
  api_reference/.empty
  assets/js/main.9b41c5b7.js
  assets/js/main.9b41c5b7.js.LICENSE.txt
  assets/js/main.dc935f39.js
  docs/Developer Guide/poses_and_frames/index.html
  docs/Developer Guide/style-guide/index.html
  docs/category/contributor-guide/index.html
  docs/intro/index.html
  index.html
  markdown-page/index.html
Due: none

fix: api-reference
  .github/workflows/api_reference.yml
  .github/workflows/docs.yml
  docs/api_reference/make_docs.sh
  docs/docusaurus.config.js
Due: none

deploy: 27641978cbea5e0730c91a927da5721b9b8249de
  404.html
  assets/js/main.9b41c5b7.js
  assets/js/main.af0677c0.js
  assets/js/main.af0677c0.js.LICENSE.txt
  docs/Developer Guide/poses_and_frames/index.html
  docs/Developer Guide/style-guide/index.html
  docs/category/contributor-guide/index.html
  docs/intro/index.html
  index.html
  markdown-page/index.html
Due: none

Decode request reply (#161)
  py/farm_ng/core/event_client.py
  py/farm_ng/core/event_service.py
  py/tests/_asyncio/test_event_client.py
Due: none

Ensure a request_reply_handler that expects decode is procesed correctly
  py/farm_ng/core/event_service.py
Due: none

Ensure a request_reply_handler that expects decode is processed correctly (#165)
  py/farm_ng/core/event_service.py
Due: none

Add build_events_dict method
  py/farm_ng/core/events_file_reader.py
Due: none

Add tests for build_events_dict
  py/tests/test_core.py
Due: none

Add build_events_dict method (#166)
  py/farm_ng/core/events_file_reader.py
  py/tests/test_core.py
Due: none

wip
  cpp/farm_ng/core/logging/expected.h
  cpp/farm_ng/core/proto_conv/image/conv.cpp
  cpp/farm_ng/core/proto_conv/plotting/conv.cpp
  cpp/farm_ng/core/proto_conv/sensor/conv.cpp
  cpp/sophus/common/common.h
Due: pragma-once, no-c-std-lib

Add recursive submodules to pypi packaging
  .github/workflows/pypi-release.yml
Due: none

Add recursive submodules to pypi packaging (#167)
  .github/workflows/pypi-release.yml
Due: none
