Repository farm-ng/farm-ng-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pragma-once, no-c-std-lib

pylint:
  name: pylint
  entry: bash -c 'pylint "$@" || true' --
  verbose: true
  language: system
  args:
  - --good-names-rgxs=^[_a-z][_a-z0-9]?$
  - --max-args=10
  - --min-similarity-lines=30

pragma-once:
  name: pragma once check
  entry: '#pragma once'
  language: pygrep
  args:
  - --negate

no-c-std-lib:
  name: c standard library check
  entry: "(?x)<(\n  assert|complex|ctype|errno|fenv|float|inttypes|iso646|limits|locale|math|setjmp|signal|\n  stdalign|stdarg|stdatomic|stdbool|stddef|stdint|stdio|stdlib|stdnoreturn|string|tgmath|\n  threads|time|uchar|wchar|wctype\n).h>\n"
  language: pygrep

remove python_module
  config.json
  protos/farm_ng/core/event_service.proto
  py/farm_ng/core/event_service_tool.py
  py/tests/event_common.py
Due: pylint

expose counts and uris as properties
  py/farm_ng/core/event_service.py
  py/tests/test_event_client.py
  py/tests/test_event_service.py
Due: pylint

raise error for mismatch message type
  py/farm_ng/core/event_service.py
  py/tests/test_event_service.py
Due: pylint

track dropped messages
  py/farm_ng/core/event_service.py
  py/tests/test_event_service.py
Due: pylint

install pytest-asyncio
  setup.cfg
Due: none

add multiple publisher test
  py/farm_ng/core/event_service.py
  py/tests/test_event_service.py
Due: pylint

apply style to recorder service
  py/farm_ng/core/event_client.py
  py/farm_ng/core/event_service_recorder.py
Due: pylint

recording tests
  py/farm_ng/core/event_service_recorder.py
  py/tests/event_common.py
  py/tests/test_event_client.py
  py/tests/test_event_service.py
  py/tests/test_event_service_recorder.py
Due: pylint

Log paths.
  config.json
  py/farm_ng/core/event_service_recorder.py
Due: pylint

Fixes from merge.
  py/farm_ng/core/event_service_recorder.py
Due: pylint

fix tests
  py/farm_ng/core/event_service_recorder.py
  py/tests/event_common.py
  py/tests/test_event_service_recorder.py
Due: pylint

morefixes
  py/tests/test_event_service_recorder.py
Due: pylint

implement event_to_protobuf_type
  py/farm_ng/core/events_file_reader.py
Due: pylint

print general messages.
  py/farm_ng/core/event_client.py
Due: pylint

Fix dropped stats.
  py/farm_ng/core/event_client.py
  py/farm_ng/core/event_service.py
Due: pylint

print the service_name in playback example.
  py/farm_ng/core/events_file_reader.py
Due: pylint

For some reason log_level_ can't be printed easily.
  cpp/farm_ng/core/logging/logger.h
Due: pragma-once, no-c-std-lib

Error message handling for request reply
  py/farm_ng/core/event_service.py
Due: pylint

Update event_service.py
  py/farm_ng/core/event_service.py
Due: pylint

Claire/error handling (#96)
  py/farm_ng/core/event_service.py
Due: pylint

Add service_name to the path during read.
  py/farm_ng/core/events_file_reader.py
Due: pylint

For some reason this is causing issues for me in a simplified build environment.
  cpp/farm_ng/core/logging/logger.h
Due: pragma-once, no-c-std-lib

New protos
  protos/farm_ng/core/pose.proto
  protos/farm_ng/core/quaternion.proto
  protos/farm_ng/core/vector.proto
Due: none

New protos
  protos/CMakeLists.txt
  protos/farm_ng/core/linalg.proto
  protos/farm_ng/core/pose.proto
  protos/farm_ng/core/quaternion.proto
  protos/farm_ng/core/uri.proto
  protos/farm_ng/geomerty/image.proto
  protos/farm_ng/geomerty/pose.proto
  setup.cfg
Due: none

Fix typo
  protos/CMakeLists.txt
  protos/farm_ng/geometry/image.proto
  protos/farm_ng/geometry/pose.proto
Due: none

New protos compiling
  protos/CMakeLists.txt
  protos/farm_ng/core/image.proto
  protos/farm_ng/core/lie.proto
  protos/farm_ng/core/pose.proto
  protos/farm_ng/geometry/image.proto
  protos/farm_ng/geometry/pose.proto
  setup.cfg
Due: none

Update image.proto
  protos/farm_ng/core/image.proto
Due: none

Update lie.proto
  protos/farm_ng/core/lie.proto
Due: none

Update pose.proto
  protos/farm_ng/core/pose.proto
Due: none

Typos
  protos/farm_ng/core/pose.proto
Due: none

Pre-commit.
  py/farm_ng/core/event_client.py
  py/farm_ng/core/event_service.py
  py/farm_ng/core/events_file_reader.py
Due: pylint

Fix cmake, and indentation.
  protos/CMakeLists.txt
  protos/farm_ng/core/linalg.proto
Due: none

Claire/new protos (#100)
  protos/CMakeLists.txt
  protos/farm_ng/core/image.proto
  protos/farm_ng/core/lie.proto
  protos/farm_ng/core/linalg.proto
  protos/farm_ng/core/pose.proto
  py/farm_ng/core/event_client.py
  py/farm_ng/core/event_service.py
  py/farm_ng/core/events_file_reader.py
  setup.cfg
Due: pylint

record metadata
  py/farm_ng/core/event_service_recorder.py
Due: pylint

record metadata (#101)
  py/farm_ng/core/event_service_recorder.py
Due: pylint

Use poses and not pose
  protos/farm_ng/core/pose.proto
Due: none

Unbreak CI
  py/farm_ng/core/event_service_recorder.py
Due: pylint

Unbreak CI (#103)
  py/farm_ng/core/event_service_recorder.py
Due: pylint

We have a pose tree in core now
  py/farm_ng/core/pose_tree.py
Due: pylint

Fix the c++ build
  protos/CMakeLists.txt
Due: none

Path conditions:
  pylint: any of: \.py$, but not: rst-dir
  pragma-once: any of: \.h$, but not: thirdparty/.*$
  no-c-std-lib: any of: \.(h|cpp)$, but not: thirdparty/.*$
