Repository farm-ng/farm-ng-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pragma-once, no-c-std-lib

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
  - repo: local
    hooks:
    - id: pylint
      name: pylint
      entry: bash -c 'pylint "$@" || true' --
      verbose: true
      language: system
      exclude: rst-dir
      types: [python]
      args: ["--good-names-rgxs=^[_a-z][_a-z0-9]?$",
             "--max-args=10",
             "--min-similarity-lines=30"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: thirdparty/.*$
      - id: check-yaml
      - id: check-json
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.13
    hooks:
      - id: insert-license
        files: \.(h|cpp|proto)$
        exclude: thirdparty/.*$
        args:
          - --comment-style
          - //
          - --license-filepath
          - license_header.txt
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.0
    hooks:
      - id: clang-format
        files: \.(h|cpp)
        exclude: (thirdparty)/.*$
  - repo: local
    hooks:
      - id: pragma-once
        name: pragma once check
        entry: "#pragma once"
        language: pygrep
        exclude: thirdparty/.*$
        files: \.h$
        args: [--negate]
      - id: no-c-std-lib
        name: c standard library check
        exclude: thirdparty/.*$
        entry: |
          (?x)<(
            assert|complex|ctype|errno|fenv|float|inttypes|iso646|limits|locale|math|setjmp|signal|
            stdalign|stdarg|stdatomic|stdbool|stddef|stdint|stdio|stdlib|stdnoreturn|string|tgmath|
            threads|time|uchar|wchar|wctype
          ).h>
        language: pygrep
        files: \.(h|cpp)$

Iterate on log level per computation unit
  cpp/farm_ng/core/logging/CMakeLists.txt
  cpp/farm_ng/core/logging/log_macros.h
  cpp/farm_ng/core/logging/logger.h
  cpp/farm_ng/core/logging/logger_define_test.cpp
  cpp/farm_ng/core/logging/logger_impl.cpp
  cpp/farm_ng/core/logging/logger_impl.h
  cpp/farm_ng/core/logging/logger_test.cpp
  cpp/farm_ng/core/logging/test_common.h
  cpp/farm_ng/core/prototools/event_log_reader.cpp
Due: pragma-once, no-c-std-lib

feat: compile-time toggle for TRACE and DEBUG only
  cpp/farm_ng/core/logging/CMakeLists.txt
  cpp/farm_ng/core/logging/logger.cpp
  cpp/farm_ng/core/logging/logger.h
  cpp/farm_ng/core/logging/logger_define_debug_variant_test.cpp
  cpp/farm_ng/core/logging/logger_define_info_variant_test.cpp
  cpp/farm_ng/core/logging/logger_define_test.cpp
  cpp/farm_ng/core/logging/logger_define_trace_variant_test.cpp
  cpp/farm_ng/core/logging/logger_impl.h
  cpp/farm_ng/core/logging/logger_test.cpp
  cpp/farm_ng/core/logging/test_common.h
  cpp/farm_ng/core/logging/trace_debug_log.h
Due: pragma-once, no-c-std-lib

feat: add m2 local runner ci
  .github/workflows/ci.yml
Due: none

Fixup test names
  cpp/farm_ng/core/logging/logger_define_debug_variant_test.cpp
  cpp/farm_ng/core/logging/logger_define_info_variant_test.cpp
  cpp/farm_ng/core/logging/logger_define_trace_variant_test.cpp
Due: no-c-std-lib

Log level per compilation unit (#69)
  cpp/farm_ng/core/logging/CMakeLists.txt
  cpp/farm_ng/core/logging/logger.h
  cpp/farm_ng/core/logging/logger_define_debug_variant_test.cpp
  cpp/farm_ng/core/logging/logger_define_info_variant_test.cpp
  cpp/farm_ng/core/logging/logger_define_trace_variant_test.cpp
  cpp/farm_ng/core/logging/logger_test.cpp
  cpp/farm_ng/core/logging/test_common.h
  cpp/farm_ng/core/logging/trace_debug_log.h
Due: pragma-once, no-c-std-lib

feat: print stats about noisy logging if enabled
  cpp/farm_ng/core/logging/logger.cpp
  cpp/farm_ng/core/logging/logger.h
  cpp/farm_ng/core/logging/logger_define_debug_variant_test.cpp
  cpp/farm_ng/core/logging/logger_define_info_variant_test.cpp
  cpp/farm_ng/core/logging/test_common.h
Due: pragma-once, no-c-std-lib

deploy: 1e44ffb6472d52f073aa726708d72c5b30a712a6
  .nojekyll
  404.html
  assets/css/styles.db4162a7.css
  assets/js/0e384e19.6f29e1d3.js
  assets/js/13f3bbca.47284458.js
  assets/js/1429b7e2.fbd6f06c.js
  assets/js/14cdc166.926cd92c.js
  assets/js/14eb3368.b59eb5bf.js
  assets/js/17896441.c828dff0.js
  assets/js/1be78505.b618256d.js
  assets/js/1df93b7f.e23874d4.js
  assets/js/1f391b9e.88f464bf.js
  assets/js/393be207.6d991e03.js
  assets/js/47ee15df.d7fc0751.js
  assets/js/5fdbc338.a59d59af.js
  assets/js/666.6a3287be.js
  assets/js/6ec60600.3ed6a944.js
  assets/js/8c7cf832.a7f9b936.js
  assets/js/935f2afb.327a3635.js
  assets/js/972.dd5d5686.js
  assets/js/bb5231e5.19edb445.js
  assets/js/c8dec366.965f0f05.js
  assets/js/dffbe354.be113bf4.js
  assets/js/main.93cc2a22.js
  assets/js/main.93cc2a22.js.LICENSE.txt
  assets/js/runtime~main.07cc7a14.js
  docs/Developer Guide/style-guide/index.html
  docs/Overview/enum/index.html
  docs/Overview/index.html
  docs/Overview/logging/index.html
  docs/Overview/misc/index.html
  docs/Overview/prototools/index.html
  docs/category/contributor-guide/index.html
  docs/category/user-guide/index.html
  docs/intro/index.html
  img/Farm-ng_Logo_Black.svg
  img/farm-ng_favicon.png
  index.html
  markdown-page/index.html
  sitemap.xml
Due: none

deploy: 2b615aa486f05047ef1e0b166620b7fa1e6b7c4d
  404.html
  assets/js/07d953c3.6a043c97.js
  assets/js/0e384e19.6f29e1d3.js
  assets/js/0e384e19.ef87c053.js
  assets/js/13f3bbca.47284458.js
  assets/js/13f3bbca.972ff914.js
  assets/js/1429b7e2.fbd6f06c.js
  assets/js/14cdc166.926cd92c.js
  assets/js/14cdc166.9dea3ceb.js
  assets/js/2261c86c.07857fb2.js
  assets/js/393be207.559ad373.js
  assets/js/393be207.6d991e03.js
  assets/js/47ee15df.d7fc0751.js
  assets/js/5fdbc338.6029312c.js
  assets/js/5fdbc338.a59d59af.js
  assets/js/935f2afb.1c274493.js
  assets/js/935f2afb.327a3635.js
  assets/js/bb5231e5.19edb445.js
  assets/js/bb5231e5.74a90f34.js
  assets/js/c8dec366.5388e0a2.js
  assets/js/c8dec366.965f0f05.js
  assets/js/dffbe354.b16a95cd.js
  assets/js/dffbe354.be113bf4.js
  assets/js/main.0b5a0e9d.js
  assets/js/main.0b5a0e9d.js.LICENSE.txt
  assets/js/main.93cc2a22.js
  assets/js/runtime~main.07cc7a14.js
  assets/js/runtime~main.8cdd6fdb.js
  docs/Developer Guide/style-guide/index.html
  docs/Overview/enum/index.html
  docs/Overview/index.html
  docs/Overview/logging/index.html
  docs/Overview/misc/index.html
  docs/Overview/prototools/index.html
  docs/category/contributor-guide/index.html
  docs/category/user-guide/index.html
  docs/intro/index.html
  index.html
  markdown-page/index.html
  sitemap.xml
Due: none

docs: start farm-ng-core book
  .github/workflows/ci_python.yml
  .github/workflows/docs.yml
  .pre-commit-config.yaml
  docs/.gitignore
  docs/README.md
  docs/babel.config.js
  docs/docs/Developer Guide/_category_.json
  docs/docs/Developer Guide/style-guide.md
  docs/docs/Overview/_category_.json
  docs/docs/Overview/enum.md
  docs/docs/Overview/logging.md
  docs/docs/Overview/misc.md
  docs/docs/Overview/overview.md
  docs/docs/Overview/prototools.md
  docs/docs/intro.md
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/sidebars.js
  docs/src/components/HomepageFeatures/index.tsx
  docs/src/components/HomepageFeatures/styles.module.css
  docs/src/css/custom.css
  docs/src/pages/index.module.css
  docs/src/pages/index.tsx
  docs/src/pages/markdown-page.md
  docs/static/.nojekyll
  docs/static/img/Farm-ng_Logo_Black.svg
  docs/static/img/farm-ng_favicon.png
  docs/tsconfig.json
Due: none

docs: fill out style guide - copied from Sophus
  cpp/farm_ng/core/logging/eigen.h
  cpp/farm_ng/core/misc/erase.h
  cpp/farm_ng/core/prototools/event_log_writer.cpp
  docs/docs/Developer Guide/style-guide.md
  docs/docs/Overview/enum.md
Due: pragma-once, no-c-std-lib

deploy: 11678f628210955cb5638e07f7111b01489f9768
  404.html
  assets/js/14cdc166.2211f9a4.js
  assets/js/14cdc166.9dea3ceb.js
  assets/js/5fdbc338.5fe7d91c.js
  assets/js/5fdbc338.6029312c.js
  assets/js/935f2afb.1c274493.js
  assets/js/935f2afb.3bf29a66.js
  assets/js/bb5231e5.6e74a018.js
  assets/js/bb5231e5.74a90f34.js
  assets/js/c8dec366.5388e0a2.js
  assets/js/c8dec366.a6366160.js
  assets/js/dffbe354.9471a102.js
  assets/js/dffbe354.b16a95cd.js
  assets/js/runtime~main.8cdd6fdb.js
  assets/js/runtime~main.beaeea58.js
  docs/Developer Guide/style-guide/index.html
  docs/Overview/enum/index.html
  docs/Overview/index.html
  docs/Overview/logging/index.html
  docs/Overview/misc/index.html
  docs/Overview/prototools/index.html
  docs/category/contributor-guide/index.html
  docs/category/user-guide/index.html
  docs/intro/index.html
  index.html
  markdown-page/index.html
Due: none

docs: sidebar
  docs/docusaurus.config.js
  docs/src/components/HomepageFeatures/index.tsx
Due: none

deploy: d23cd65e791c9475691a904c345cacde798a973a
  404.html
  assets/js/1df93b7f.691e4626.js
  assets/js/1df93b7f.e23874d4.js
  assets/js/main.0b5a0e9d.js
  assets/js/main.8869a03d.js
  assets/js/main.8869a03d.js.LICENSE.txt
  assets/js/runtime~main.0cd7b2ac.js
  assets/js/runtime~main.beaeea58.js
  docs/Developer Guide/style-guide/index.html
  docs/Overview/enum/index.html
  docs/Overview/index.html
  docs/Overview/logging/index.html
  docs/Overview/misc/index.html
  docs/Overview/prototools/index.html
  docs/category/contributor-guide/index.html
  docs/category/user-guide/index.html
  docs/intro/index.html
  index.html
  markdown-page/index.html
Due: none

docs: update front page
  docs/src/components/HomepageFeatures/index.tsx
Due: none

deploy: 24ab7537fe453d84cfd05f4386cce9a3eefe1a66
  404.html
  assets/js/1df93b7f.691e4626.js
  assets/js/1df93b7f.9c425aa2.js
  assets/js/runtime~main.0cd7b2ac.js
  assets/js/runtime~main.b5ebc740.js
  docs/Developer Guide/style-guide/index.html
  docs/Overview/enum/index.html
  docs/Overview/index.html
  docs/Overview/logging/index.html
  docs/Overview/misc/index.html
  docs/Overview/prototools/index.html
  docs/category/contributor-guide/index.html
  docs/category/user-guide/index.html
  docs/intro/index.html
  index.html
  markdown-page/index.html
Due: none

Add istream overload for FARM_ENUM and rename FARM_ENUM_WITHOUT_OSTREAM to FARM_ENUM_WITHOUT_IOSTREAM and related changes.
  cpp/farm_ng/core/enum/CMakeLists.txt
  cpp/farm_ng/core/enum/enum.h
  cpp/farm_ng/core/enum/enum_without_iostream.h
  cpp/farm_ng/core/enum/enum_without_iostream_test.cpp
Due: pragma-once, no-c-std-lib

Fix small compile issue on main
  cpp/farm_ng/core/logging/eigen.h
Due: pragma-once, no-c-std-lib

Add istream overload for FARM_ENUM (#74)
  cpp/farm_ng/core/enum/CMakeLists.txt
  cpp/farm_ng/core/enum/enum.h
  cpp/farm_ng/core/enum/enum_without_iostream.h
  cpp/farm_ng/core/enum/enum_without_iostream_test.cpp
  cpp/farm_ng/core/logging/eigen.h
Due: pragma-once, no-c-std-lib

deploy: 8a83a4f16271bab6f8a19b91ea753d12bfa8aeae
  404.html
  assets/js/1df93b7f.9c425aa2.js
  assets/js/1df93b7f.e23874d4.js
  assets/js/main.0b5a0e9d.js
  assets/js/main.0b5a0e9d.js.LICENSE.txt
  assets/js/main.8869a03d.js
  assets/js/runtime~main.b5ebc740.js
  assets/js/runtime~main.beaeea58.js
  docs/Developer Guide/style-guide/index.html
  docs/Overview/enum/index.html
  docs/Overview/index.html
  docs/Overview/logging/index.html
  docs/Overview/misc/index.html
  docs/Overview/prototools/index.html
  docs/category/contributor-guide/index.html
  docs/category/user-guide/index.html
  docs/intro/index.html
  index.html
  markdown-page/index.html
Due: none

Allow log header without newline
  cpp/farm_ng/core/logging/logger.h
Due: pragma-once, no-c-std-lib

feat: use relative check / unless close to zero
  cpp/farm_ng/core/logging/eigen.h
  cpp/farm_ng/core/logging/logger.h
  cpp/farm_ng/core/logging/logger_test.cpp
Due: pragma-once, no-c-std-lib

Update default log level
  cpp/farm_ng/core/logging/logger.h
Due: pragma-once, no-c-std-lib

feat: print stats about noisy logging if enabled (#71)
  cpp/farm_ng/core/logging/logger.cpp
  cpp/farm_ng/core/logging/logger.h
  cpp/farm_ng/core/logging/logger_define_debug_variant_test.cpp
  cpp/farm_ng/core/logging/logger_define_info_variant_test.cpp
  cpp/farm_ng/core/logging/test_common.h
Due: pragma-once, no-c-std-lib

deploy: bb8da80549983bdac6a8aac379ca53f2517a90d0
  404.html
  assets/js/runtime~main.06a49f31.js
  assets/js/runtime~main.beaeea58.js
  docs/Developer Guide/style-guide/index.html
  docs/Overview/enum/index.html
  docs/Overview/index.html
  docs/Overview/logging/index.html
  docs/Overview/misc/index.html
  docs/Overview/prototools/index.html
  docs/category/contributor-guide/index.html
  docs/category/user-guide/index.html
  docs/intro/index.html
  index.html
  markdown-page/index.html
Due: none

fix: near macro for non-float scalars
  cpp/farm_ng/core/logging/logger.h
Due: pragma-once, no-c-std-lib

style: fix bug which prevent clang-tidy
  .clang-tidy
  cpp/farm_ng/core/enum/enum.h
  cpp/farm_ng/core/enum/enum_flags.h
  cpp/farm_ng/core/enum/enum_flags_test.cpp
  cpp/farm_ng/core/enum/enum_flags_without_ostream_test.cpp
  cpp/farm_ng/core/enum/enum_test.cpp
  cpp/farm_ng/core/enum/enum_without_iostream_test.cpp
  cpp/farm_ng/core/enum/impl/enum_details.h
  cpp/farm_ng/core/enum/impl/enum_flag_details.h
  cpp/farm_ng/core/logging/backtrace.cpp
  cpp/farm_ng/core/logging/expected.cpp
  cpp/farm_ng/core/logging/expected_test.cpp
  cpp/farm_ng/core/logging/format.cpp
  cpp/farm_ng/core/logging/format_test.cpp
  cpp/farm_ng/core/logging/logger.cpp
  cpp/farm_ng/core/logging/logger.h
  cpp/farm_ng/core/logging/logger_define_debug_variant_test.cpp
  cpp/farm_ng/core/logging/logger_define_info_variant_test.cpp
  cpp/farm_ng/core/logging/logger_define_trace_variant_test.cpp
  cpp/farm_ng/core/logging/logger_test.cpp
  cpp/farm_ng/core/misc/concept_utils.h
  cpp/farm_ng/core/misc/erase_test.cpp
  cpp/farm_ng/core/misc/filesystem_test.cpp
  cpp/farm_ng/core/misc/proto/conv.cpp
  cpp/farm_ng/core/misc/proto/conv.h
  cpp/farm_ng/core/misc/proto/conv_test.cpp
  cpp/farm_ng/core/misc/shared.h
  cpp/farm_ng/core/misc/shared_test.cpp
  cpp/farm_ng/core/misc/stopwatch_test.cpp
  cpp/farm_ng/core/misc/tokenize_test.cpp
  cpp/farm_ng/core/prototools/event_log_reader.cpp
  cpp/farm_ng/core/prototools/event_log_reader.h
  cpp/farm_ng/core/prototools/event_log_writer.cpp
  cpp/farm_ng/core/prototools/event_log_writer.h
  cpp/farm_ng/core/prototools/event_log_writer_test.cpp
  cpp/farm_ng/core/prototools/proto_reader_writer.cpp
  cpp/farm_ng/core/prototools/proto_reader_writer.h
  cpp/farm_ng/core/prototools/proto_reader_writer_test.cpp
  run_clang_tidy.sh
Due: pragma-once, no-c-std-lib

deploy: 411bdf0ba64b1293d02b14dc40fb4fae558000dc
  404.html
  assets/js/666.6a3287be.js
  assets/js/666.882a7a3d.js
  assets/js/runtime~main.06a49f31.js
  assets/js/runtime~main.26408a97.js
  docs/Developer Guide/style-guide/index.html
  docs/Overview/enum/index.html
  docs/Overview/index.html
  docs/Overview/logging/index.html
  docs/Overview/misc/index.html
  docs/Overview/prototools/index.html
  docs/category/contributor-guide/index.html
  docs/category/user-guide/index.html
  docs/intro/index.html
  index.html
  markdown-page/index.html
Due: none

deploy: 5eca5f2f41096549e91a7af2fd84d4b6d81f8a0f
  404.html
  assets/js/1df93b7f.9c425aa2.js
  assets/js/1df93b7f.e23874d4.js
  assets/js/main.0b5a0e9d.js
  assets/js/main.8869a03d.js
  assets/js/main.8869a03d.js.LICENSE.txt
  assets/js/runtime~main.26408a97.js
  assets/js/runtime~main.b363f2ca.js
  docs/Developer Guide/style-guide/index.html
  docs/Overview/enum/index.html
  docs/Overview/index.html
  docs/Overview/logging/index.html
  docs/Overview/misc/index.html
  docs/Overview/prototools/index.html
  docs/category/contributor-guide/index.html
  docs/category/user-guide/index.html
  docs/intro/index.html
  index.html
  markdown-page/index.html
Due: none

Add pipeline to farm-ng-core.
  CMakeLists.txt
  cpp/farm_ng/core/CMakeLists.txt
  cpp/farm_ng/core/pipeline/CMakeLists.txt
  cpp/farm_ng/core/pipeline/component.cpp
  cpp/farm_ng/core/pipeline/component.h
  cpp/farm_ng/core/pipeline/component_test.cpp
  cpp/farm_ng/core/pipeline/context.cpp
  cpp/farm_ng/core/pipeline/context.h
  cpp/farm_ng/core/pipeline/context_test.cpp
  cpp/farm_ng/core/pipeline/input.cpp
  cpp/farm_ng/core/pipeline/input.h
  cpp/farm_ng/core/pipeline/input_test.cpp
  cpp/farm_ng/core/pipeline/output.cpp
  cpp/farm_ng/core/pipeline/output.h
  cpp/farm_ng/core/pipeline/output_test.cpp
  cpp/farm_ng/core/pipeline/thread_pool.cpp
  cpp/farm_ng/core/pipeline/thread_pool.h
  cpp/farm_ng/core/pipeline/thread_pool_test.cpp
  cpp/farm_ng/core/prototools/CMakeLists.txt
  infra/scripts/install_farm_ng_cmake.sh
Due: pragma-once, no-c-std-lib

Fix up cmake.
  cpp/farm_ng/core/pipeline/CMakeLists.txt
Due: none

style: first round of clang-tidy fixes
  cpp/farm_ng/core/pipeline/component.cpp
  cpp/farm_ng/core/pipeline/component_test.cpp
  cpp/farm_ng/core/pipeline/context.cpp
  cpp/farm_ng/core/pipeline/context_test.cpp
  cpp/farm_ng/core/pipeline/input_test.cpp
  cpp/farm_ng/core/pipeline/output_test.cpp
  cpp/farm_ng/core/pipeline/thread_pool.cpp
  cpp/farm_ng/core/pipeline/thread_pool_test.cpp
Due: no-c-std-lib

style: clang-tidy fixes
  cpp/farm_ng/core/pipeline/context_test.cpp
Due: no-c-std-lib

fix: header regex in .clang-tidy config / also don't enforce trailing return type
  .clang-tidy
  cpp/farm_ng/core/pipeline/component.cpp
  cpp/farm_ng/core/pipeline/component.h
  cpp/farm_ng/core/pipeline/component_test.cpp
  cpp/farm_ng/core/pipeline/context.cpp
  cpp/farm_ng/core/pipeline/context.h
  cpp/farm_ng/core/pipeline/context_test.cpp
  cpp/farm_ng/core/pipeline/input.h
  cpp/farm_ng/core/pipeline/input_test.cpp
  cpp/farm_ng/core/pipeline/output.h
  cpp/farm_ng/core/pipeline/output_test.cpp
  cpp/farm_ng/core/pipeline/thread_pool.cpp
  cpp/farm_ng/core/pipeline/thread_pool_test.cpp
Due: pragma-once, no-c-std-lib
