Repository farm-ng/farm-ng-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pragma-once, no-c-std-lib

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
  - repo: local
    hooks:
    - id: pylint
      name: pylint
      entry: bash -c 'pylint "$@" || true' --
      verbose: true
      language: system
      exclude: rst-dir
      types: [python]
      args: ["--good-names-rgxs=^[_a-z][_a-z0-9]?$",
             "--max-args=10",
             "--min-similarity-lines=30"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: thirdparty/.*$
      - id: check-yaml
      - id: check-json
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.13
    hooks:
      - id: insert-license
        files: \.(h|cpp|proto)$
        exclude: thirdparty/.*$
        args:
          - --comment-style
          - //
          - --license-filepath
          - license_header.txt
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.0
    hooks:
      - id: clang-format
        files: \.(h|cpp)
        exclude: (thirdparty)/.*$
  - repo: local
    hooks:
      - id: pragma-once
        name: pragma once check
        entry: "#pragma once"
        language: pygrep
        exclude: thirdparty/.*$
        files: \.h$
        args: [--negate]
      - id: no-c-std-lib
        name: c standard library check
        exclude: thirdparty/.*$
        entry: |
          (?x)<(
            assert|complex|ctype|errno|fenv|float|inttypes|iso646|limits|locale|math|setjmp|signal|
            stdalign|stdarg|stdatomic|stdbool|stddef|stdint|stdio|stdlib|stdnoreturn|string|tgmath|
            threads|time|uchar|wchar|wctype
          ).h>
        language: pygrep
        files: \.(h|cpp)$

style: pre-commit
  cpp/farm_ng/core/pipeline/output.h
Due: pragma-once, no-c-std-lib

Add pipeline to farm-ng-core. (#79)
  .clang-tidy
  CMakeLists.txt
  cpp/farm_ng/core/CMakeLists.txt
  cpp/farm_ng/core/pipeline/CMakeLists.txt
  cpp/farm_ng/core/pipeline/component.cpp
  cpp/farm_ng/core/pipeline/component.h
  cpp/farm_ng/core/pipeline/component_test.cpp
  cpp/farm_ng/core/pipeline/context.cpp
  cpp/farm_ng/core/pipeline/context.h
  cpp/farm_ng/core/pipeline/context_test.cpp
  cpp/farm_ng/core/pipeline/input.cpp
  cpp/farm_ng/core/pipeline/input.h
  cpp/farm_ng/core/pipeline/input_test.cpp
  cpp/farm_ng/core/pipeline/output.cpp
  cpp/farm_ng/core/pipeline/output.h
  cpp/farm_ng/core/pipeline/output_test.cpp
  cpp/farm_ng/core/pipeline/thread_pool.cpp
  cpp/farm_ng/core/pipeline/thread_pool.h
  cpp/farm_ng/core/pipeline/thread_pool_test.cpp
  cpp/farm_ng/core/prototools/CMakeLists.txt
  infra/scripts/install_farm_ng_cmake.sh
Due: pragma-once, no-c-std-lib

deploy: 8abb6a98269eb5541207df9203cc9f7abc3afaae
  404.html
  assets/css/styles.6af49a53.css
  assets/css/styles.db4162a7.css
  assets/js/14eb3368.a6446dee.js
  assets/js/14eb3368.b59eb5bf.js
  assets/js/1be78505.b618256d.js
  assets/js/1be78505.e4d1af46.js
  assets/js/1df93b7f.1e764f81.js
  assets/js/1df93b7f.9c425aa2.js
  assets/js/1f391b9e.88f464bf.js
  assets/js/1f391b9e.d11b2a6c.js
  assets/js/666.882a7a3d.js
  assets/js/666.c7c56808.js
  assets/js/972.d5cc17b1.js
  assets/js/972.dd5d5686.js
  assets/js/main.8869a03d.js
  assets/js/main.8c08a6ba.js
  assets/js/main.8c08a6ba.js.LICENSE.txt
  assets/js/runtime~main.b363f2ca.js
  assets/js/runtime~main.dd9ca0b5.js
  docs/Developer Guide/style-guide/index.html
  docs/Overview/enum/index.html
  docs/Overview/index.html
  docs/Overview/logging/index.html
  docs/Overview/misc/index.html
  docs/Overview/prototools/index.html
  docs/category/contributor-guide/index.html
  docs/category/user-guide/index.html
  docs/intro/index.html
  index.html
  markdown-page/index.html
Due: none

fix: TRY macro, do not evalute expression twice
  cpp/farm_ng/core/logging/expected.h
  cpp/farm_ng/core/logging/expected_test.cpp
Due: pragma-once, no-c-std-lib

fix: use TRY_ASSIN in proto reader/writer
  cpp/farm_ng/core/prototools/proto_reader_writer.h
Due: pragma-once, no-c-std-lib

style: revert to name FARM_TRY instead of FARM_TRY_ASSIGN
  cpp/farm_ng/core/logging/expected.h
  cpp/farm_ng/core/logging/expected_test.cpp
  cpp/farm_ng/core/prototools/proto_reader_writer.h
Due: pragma-once, no-c-std-lib

style: call the expression
  cpp/farm_ng/core/logging/expected.h
Due: pragma-once, no-c-std-lib

Initial sketch of event service
  cpp/farm_ng/core/prototools/CMakeLists.txt
  cpp/farm_ng/core/prototools/event_and_payload.cpp
  cpp/farm_ng/core/prototools/event_and_payload.h
  cpp/farm_ng/core/prototools/event_log_reader.h
  cpp/farm_ng/core/prototools/event_service.cpp
  cpp/farm_ng/core/prototools/event_service.h
  cpp/farm_ng/core/prototools/event_service_test.cpp
  cpp/farm_ng/core/prototools/main_event_service.cpp
  farm_ng_core.code-workspace
  protos/CMakeLists.txt
  protos/farm_ng/core/event_service.proto
Due: pragma-once, no-c-std-lib

a bit of refactor so that logging and grpc are the same.
  cpp/farm_ng/core/prototools/event_and_payload.cpp
  cpp/farm_ng/core/prototools/event_and_payload.h
  cpp/farm_ng/core/prototools/event_log_reader.cpp
  cpp/farm_ng/core/prototools/event_log_reader.h
  cpp/farm_ng/core/prototools/event_log_writer.cpp
  cpp/farm_ng/core/prototools/event_log_writer.h
  cpp/farm_ng/core/prototools/event_service.cpp
  farm_ng_core.code-workspace
Due: pragma-once, no-c-std-lib

Wip.
  cpp/farm_ng/core/misc/CMakeLists.txt
  cpp/farm_ng/core/misc/proto/CMakeLists.txt
  cpp/farm_ng/core/misc/proto/conv.cpp
  cpp/farm_ng/core/misc/proto/conv.h
  cpp/farm_ng/core/misc/proto/conv_test.cpp
  cpp/farm_ng/core/misc/uri.h
  cpp/farm_ng/core/misc/uri_test.cpp
  cpp/farm_ng/core/pipeline/component.cpp
  cpp/farm_ng/core/pipeline/component.h
  cpp/farm_ng/core/pipeline/component_test.cpp
  cpp/farm_ng/core/pipeline/context.h
  cpp/farm_ng/core/pipeline/input.h
  cpp/farm_ng/core/pipeline/output.h
  cpp/farm_ng/core/prototools/event_and_payload.cpp
  cpp/farm_ng/core/prototools/event_and_payload.h
  cpp/farm_ng/core/prototools/event_service.cpp
  cpp/farm_ng/core/prototools/event_service.h
  cpp/farm_ng/core/prototools/event_service_test.cpp
  cpp/farm_ng/core/prototools/main_event_service.cpp
  protos/farm_ng/core/event_service.proto
Due: pragma-once, no-c-std-lib

feat: print error on assert when there is an expected.error
  cpp/farm_ng/core/logging/expected.h
  cpp/farm_ng/core/logging/logger.h
Due: pragma-once, no-c-std-lib

deploy: 4ee7bade764f94c77564df44bc7938319958af68
  404.html
  assets/css/styles.6af49a53.css
  assets/css/styles.b7883ff5.css
  assets/js/14eb3368.a6446dee.js
  assets/js/14eb3368.c7ea74c3.js
  assets/js/17896441.ad508cc9.js
  assets/js/17896441.c828dff0.js
  assets/js/1be78505.6bc278f4.js
  assets/js/1be78505.e4d1af46.js
  assets/js/1f391b9e.53e11c87.js
  assets/js/1f391b9e.d11b2a6c.js
  assets/js/455.98acbaa8.js
  assets/js/666.c7c56808.js
  assets/js/main.38d7d836.js
  assets/js/main.38d7d836.js.LICENSE.txt
  assets/js/main.8c08a6ba.js
  assets/js/runtime~main.d74f4384.js
  assets/js/runtime~main.dd9ca0b5.js
  docs/Developer Guide/style-guide/index.html
  docs/Overview/enum/index.html
  docs/Overview/index.html
  docs/Overview/logging/index.html
  docs/Overview/misc/index.html
  docs/Overview/prototools/index.html
  docs/category/contributor-guide/index.html
  docs/category/user-guide/index.html
  docs/intro/index.html
  index.html
  markdown-page/index.html
Due: none

feat: merge farm-ng-cmake into core
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitmodules
  CMakeLists.txt
  cmake/CMakeLists.txt
  cmake/README.md
  cmake/bootstrap_venv.sh
  cmake/cmake/External_apriltag.cmake
  cmake/cmake/External_boost.cmake
  cmake/cmake/External_ceres.cmake
  cmake/cmake/External_cli11.cmake
  cmake/cmake/External_eigen.cmake
  cmake/cmake/External_expected.cmake
  cmake/cmake/External_farm-ng-cmake.cmake
  cmake/cmake/External_fmt.cmake
  cmake/cmake/External_grpc.cmake
  cmake/cmake/External_nlohmann_json.cmake
  cmake/cmake/farm_ng_add_library.cmake
  cmake/cmake/farm_ng_add_protobufs.cmake
  cmake/cmake/farm_ng_add_test.cmake
  cmake/cmake/farm_ng_cmakeConfig.cmake
  cmake/cmake/farm_ng_cmakeConfigVersion.cmake
  cmake/cmake/farm_ng_default_args.cmake
  cmake/cmake/farm_ng_macos_ssl_fix.cmake
  cmake/cmake/farm_ng_module.cmake
  cmake/cmake/farm_ng_moduleConfig.cmake.in
  cmake/scripts/download_release.sh
  cmake/scripts/install_deps_mac.sh
  cmake/scripts/install_deps_ubuntu.sh
  infra/scripts/install_farm_ng_cmake.sh
Due: none

Naming proposal - no file idx # if not using rollover logging
  py/farm_ng/core/events_file_writer.py
Due: pylint

Revert "feat: print error on assert when there is an expected.error"
  cpp/farm_ng/core/logging/expected.h
  cpp/farm_ng/core/logging/logger.h
Due: pragma-once, no-c-std-lib

deploy: 0272b4ef35824c061c0337f959687acb94948fcc
  404.html
  assets/js/runtime~main.32b30b74.js
  assets/js/runtime~main.d74f4384.js
  docs/Developer Guide/style-guide/index.html
  docs/Overview/enum/index.html
  docs/Overview/index.html
  docs/Overview/logging/index.html
  docs/Overview/misc/index.html
  docs/Overview/prototools/index.html
  docs/category/contributor-guide/index.html
  docs/category/user-guide/index.html
  docs/intro/index.html
  index.html
  markdown-page/index.html
Due: none

add event_has_message and improve docs
  py/farm_ng/core/events_file_reader.py
  py/farm_ng/core/events_file_writer.py
  py/tests/test_core.py
  setup.cfg
Due: pylint

add event_has_message and improve docs (#88)
  py/farm_ng/core/events_file_reader.py
  py/farm_ng/core/events_file_writer.py
  py/tests/test_core.py
  setup.cfg
Due: pylint

deploy: 25021e3508b02cdbc49b5b4d996a8cc15b978a5f
  404.html
  assets/js/runtime~main.32b30b74.js
  assets/js/runtime~main.ac4090d9.js
  docs/Developer Guide/style-guide/index.html
  docs/Overview/enum/index.html
  docs/Overview/index.html
  docs/Overview/logging/index.html
  docs/Overview/misc/index.html
  docs/Overview/prototools/index.html
  docs/category/contributor-guide/index.html
  docs/category/user-guide/index.html
  docs/intro/index.html
  index.html
  markdown-page/index.html
Due: none

Fix failing logger tests and add additional ASSERT_NEAR test
  cpp/farm_ng/core/logging/logger_test.cpp
Due: no-c-std-lib

Formatting
  py/farm_ng/core/events_file_writer.py
Due: pylint

Read single proto from json file
  py/farm_ng/core/events_file_reader.py
Due: pylint

Fix comment
  py/farm_ng/core/events_file_reader.py
Due: pylint

Add writer to json file
  py/farm_ng/core/events_file_reader.py
  py/farm_ng/core/events_file_writer.py
Due: pylint

Add test for round trip proto->json
  py/tests/test_core.py
Due: pylint

rm a space
  py/farm_ng/core/events_file_reader.py
Due: pylint

read/write json file protos in Python (#90)
  py/farm_ng/core/events_file_reader.py
  py/farm_ng/core/events_file_writer.py
  py/tests/test_core.py
Due: pylint

fix tests tmp_path and lints
  py/farm_ng/core/events_file_reader.py
  py/farm_ng/core/events_file_writer.py
  py/tests/test_core.py
Due: pylint

fix tests tmp_path and lints (#91)
  py/farm_ng/core/events_file_reader.py
  py/farm_ng/core/events_file_writer.py
  py/tests/test_core.py
Due: pylint

deploy: 284a3e7a2aa8f7c76df46ad7b047cfc7906ffaf5
  404.html
  assets/js/runtime~main.1cdb52d7.js
  assets/js/runtime~main.ac4090d9.js
  docs/Developer Guide/style-guide/index.html
  docs/Overview/enum/index.html
  docs/Overview/index.html
  docs/Overview/logging/index.html
  docs/Overview/misc/index.html
  docs/Overview/prototools/index.html
  docs/category/contributor-guide/index.html
  docs/category/user-guide/index.html
  docs/intro/index.html
  index.html
  markdown-page/index.html
Due: none

Add StampSemantics dataclass
  py/farm_ng/core/stamp.py
Due: pylint

Rename RECORDER_WRITE -> FILE_WRITE (more generic)
  py/farm_ng/core/stamp.py
Due: pylint
