Repository farm-ng/farm-ng-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pragma-once, no-c-std-lib

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: (thirdparty|cpp/sophus2)/.*$
      - id: check-yaml
      - id: check-json
        exclude: docs/.*$

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.13
    hooks:
      - id: insert-license
        files: cpp/sophus/.*\.(h|hpp|cpp|proto|ipp)$
        exclude: (thirdparty|sympy/cpp_gencode)/.*$
        args:
          - --comment-style
          - //
          - --license-filepath
          - sophus2_license_header.txt
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.13
    hooks:
      - id: insert-license
        files: \.(h|cpp|proto|ipp)$
        exclude: (thirdparty|cpp/sophus)/.*$
        args:
          - --comment-style
          - //
          - --license-filepath
          - license_header.txt
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.0
    hooks:
      - id: clang-format
        files: \.(h|cpp|ipp)
        exclude: (cpp/sophus/sympy|thirdparty)/.*$
  - repo: local
    hooks:
      - id: pragma-once
        name: pragma once check
        entry: "#pragma once"
        language: pygrep
        exclude: thirdparty/.*$
        files: \.h$
        args: [--negate]
      - id: no-c-std-lib
        name: c standard library check
        exclude: thirdparty/.*$
        entry: |
          (?x)<(
            assert|complex|ctype|errno|fenv|float|inttypes|iso646|limits|locale|math|setjmp|signal|
            stdalign|stdarg|stdatomic|stdbool|stddef|stdint|stdio|stdlib|stdnoreturn|string|tgmath|
            threads|time|uchar|wchar|wctype
          ).h>
        language: pygrep
        files: \.(h|cpp)$
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, perf, test, ci, build, chore, revert]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        exclude: (thirdparty|cpp/sophus2)/.*$
        args:
          - --ignore-words-list
          - "te,tring,crate"
          - --skip
          - "cpp/thirdparty/*,docs/package-lock.json"
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.284
    hooks:
      - id: ruff
        exclude: (thirdparty|cpp/sophus)/.*$
        args: [--fix, --exit-non-zero-on-fix]

CI fixes: update precommit | lock grpcio, protobuf versions (#259)
  .pre-commit-config.yaml
  pyproject.toml
  setup.cfg
Due: none

deploy: c4304399d6f025be6d5c01e91b96086bf9e3e2ad
  404.html
  assets/js/1be78505.163c9caf.js
  assets/js/1be78505.3d2ec021.js
  assets/js/262.b391f0af.js
  assets/js/262.ee9828ec.js
  assets/js/main.99d91df6.js
  assets/js/main.99d91df6.js.LICENSE.txt
  assets/js/main.d6337613.js
  assets/js/runtime~main.0ae0cab3.js
  assets/js/runtime~main.6ce3d505.js
  docs/Developer Guide/poses_and_frames/index.html
  docs/Developer Guide/style-guide/index.html
  docs/category/contributor-guide/index.html
  docs/intro/index.html
  index.html
  markdown-page/index.html
Due: none

lock req versions + release number
  setup.cfg
Due: none

remove reqs from pproject.toml
  pyproject.toml
Due: none

add wheel as req
  setup.cfg
Due: none

setup.cfg match test versions
  setup.cfg
Due: none

Update setup.cfg
  setup.cfg
Due: none

protobuf version lock
  setup.cfg
Due: none

Use a consistent ubuntu across all Linux CI jobs.
  .github/workflows/ci_python.yml
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/pypi-release.yml
  .github/workflows/release.yml
Due: none

Bump ubuntu and macos runner versions across CI.
  .github/workflows/api_reference.yml
  .github/workflows/ci.yml
  .github/workflows/ci_python.yml
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/pypi-release.yml
  .github/workflows/release.yml
  .github/workflows/rs.yml
Due: none

Fix python3-venv install for ubuntu-22.04.
  scripts/install_deps_ubuntu.sh
Due: none

Try removing glog from installed deps.
  scripts/install_deps_mac.sh
  scripts/install_deps_ubuntu.sh
Due: none

Downgrade C++ and Rust CI builds to ubuntu-20.04.
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/rs.yml
Due: none

Revert "Try removing glog from installed deps."
  scripts/install_deps_mac.sh
  scripts/install_deps_ubuntu.sh
Due: none

Add more debug output to test_pose.
  py/tests/test_lie.py
Due: none

More debug test output.
  py/tests/test_lie.py
Due: none

Make sophus name lookups explicit in Lie bindings.
  py/pybind/lie_pybind.cpp
Due: no-c-std-lib

Make Pose3<T>::error() static instead of a friend.
  cpp/sophus/lie/pose3.h
  py/pybind/lie_pybind.cpp
Due: pragma-once, no-c-std-lib

Fix clang-format.
  py/pybind/lie_pybind.cpp
Due: no-c-std-lib

Disable Python CI/release on MacOS pending SWE-538.
  .github/workflows/ci_python.yml
  .github/workflows/pypi-release.yml
Due: none

UB fix attempt
  cpp/sophus/lie/pose3.h
Due: pragma-once, no-c-std-lib

Revert "Disable Python CI/release on MacOS pending SWE-538."
  .github/workflows/ci_python.yml
  .github/workflows/pypi-release.yml
Due: none

UB fix attempt #2
  cpp/sophus/lie/pose3.h
Due: pragma-once, no-c-std-lib

UB fix attempt #2
  cpp/sophus/lie/pose3.h
  py/pybind/lie_pybind.cpp
  py/tests/test_lie.py
Due: pragma-once, no-c-std-lib

Fix ambiguous type inference bug.
  py/pybind/lie_pybind.cpp
Due: no-c-std-lib

Try to make CI logging from pip less verbose.
  .github/workflows/ci_python.yml
Due: none

Fix Python CI breakages (#262)
  .github/workflows/api_reference.yml
  .github/workflows/ci_python.yml
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/pypi-release.yml
  .github/workflows/release.yml
  cpp/sophus/lie/pose3.h
  py/pybind/lie_pybind.cpp
  py/tests/test_lie.py
  scripts/install_deps_ubuntu.sh
Due: pragma-once, no-c-std-lib

deploy: b78ce9084e725b6fbb2465b6342fa763a223fc37
  404.html
  assets/js/main.99d91df6.js
  assets/js/main.e160d763.js
  assets/js/main.e160d763.js.LICENSE.txt
  assets/js/runtime~main.4d71ca56.js
  assets/js/runtime~main.6ce3d505.js
  docs/Developer Guide/poses_and_frames/index.html
  docs/Developer Guide/style-guide/index.html
  docs/category/contributor-guide/index.html
  docs/intro/index.html
  index.html
  markdown-page/index.html
Due: none

Update version constant in setup.py.
  setup.py
Due: none

Ensure a Python 3.12 compatible Cython.
  pyproject.toml
  setup.cfg
Due: none

Try forcing grpcio-tools 1.64.1 for proto code gen.
  pyproject.toml
Due: none

update build and install time files"
  pyproject.toml
  setup.cfg
Due: none

lock protobuf version at build time
  pyproject.toml
  setup.cfg
Due: none

remove package dep on install time
  setup.cfg
Due: none

Lock req versions + release number (#261)
  pyproject.toml
  setup.cfg
  setup.py
Due: none

deploy: a3be45b8a950e80a77e91f75ab3a0cbef92171e3
  404.html
  assets/js/main.e160d763.js
  assets/js/main.e933afb0.js
  assets/js/main.e933afb0.js.LICENSE.txt
  docs/Developer Guide/poses_and_frames/index.html
  docs/Developer Guide/style-guide/index.html
  docs/category/contributor-guide/index.html
  docs/intro/index.html
  index.html
  markdown-page/index.html
Due: none

Suppress build warnings for thirdparty C++ code.
  setup.py
Due: none

Convert PosixPath to string in extra_compile_args.
  setup.py
Due: none

Make Clang tolerate unknown warning options again.
  setup.py
Due: none
