Repository farm-ng/farm-ng-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pragma-once, no-c-std-lib

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
  - repo: local
    hooks:
    - id: pylint
      name: pylint
      entry: bash -c 'pylint "$@" || true' --
      verbose: true
      language: system
      exclude: rst-dir
      types: [python]
      args: ["--good-names-rgxs=^[_a-z][_a-z0-9]?$",
             "--max-args=10",
             "--min-similarity-lines=30"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: thirdparty/.*$
      - id: check-yaml
      - id: check-json
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.13
    hooks:
      - id: insert-license
        files: \.(h|cpp|proto)$
        exclude: thirdparty/.*$
        args:
          - --comment-style
          - //
          - --license-filepath
          - license_header.txt
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.0
    hooks:
      - id: clang-format
        files: \.(h|cpp)
        exclude: (thirdparty)/.*$
  - repo: local
    hooks:
      - id: pragma-once
        name: pragma once check
        entry: "#pragma once"
        language: pygrep
        exclude: thirdparty/.*$
        files: \.h$
        args: [--negate]
      - id: no-c-std-lib
        name: c standard library check
        exclude: thirdparty/.*$
        entry: |
          (?x)<(
            assert|complex|ctype|errno|fenv|float|inttypes|iso646|limits|locale|math|setjmp|signal|
            stdalign|stdarg|stdatomic|stdbool|stddef|stdint|stdio|stdlib|stdnoreturn|string|tgmath|
            threads|time|uchar|wchar|wctype
          ).h>
        language: pygrep
        files: \.(h|cpp)$

add pb=message.file.name in c++ writer.
  cpp/farm_ng/core/prototools/event_log_writer.cpp
  cpp/farm_ng/core/prototools/event_log_writer_test.cpp
Due: no-c-std-lib

add pb=message.file.name in c++ writer. (#30)
  cpp/farm_ng/core/prototools/event_log_writer.cpp
  cpp/farm_ng/core/prototools/event_log_writer_test.cpp
Due: no-c-std-lib

Fix readJsonStringFromJsonFile method which didn't compile when instantiated.
  cpp/farm_ng/core/prototools/proto_reader_writer.h
Due: pragma-once, no-c-std-lib

Fix readJsonStringFromJsonFile method which didn't compile when insta… (#31)
  cpp/farm_ng/core/prototools/proto_reader_writer.h
Due: pragma-once, no-c-std-lib

FARM_ENUM: Add and test getAll() method for retrieving constexpr array of the set of enum types.
  cpp/farm_ng/core/enum/enum_test.cpp
  cpp/farm_ng/core/enum/impl/enum_details.h
Due: pragma-once, no-c-std-lib

Install protobufs, and move setup.py to root of package.
  .gitignore
  setup.cfg
  setup.py
Due: pylint

python ci.
  .github/workflows/ci_python.yml
  py/.gitignore
Due: none

mypy?
  setup.cfg
Due: none

mypy.
  .github/workflows/ci_python.yml
Due: none

Protobuf install in python. (#34)
  .github/workflows/ci_python.yml
  .gitignore
  py/.gitignore
  setup.cfg
  setup.py
Due: pylint

Centralize python packaging logic.
  py/farm_ng/core/package.py
  setup.py
Due: pylint

try again.
  py/farm_ng/core/package.py
  setup.py
Due: pylint

import bootstrap magic.
  setup.py
Due: pylint

add pyproject.toml
  pyproject.toml
Due: none

Centralize python packaging logic. (#35)
  py/farm_ng/core/package.py
  pyproject.toml
  setup.py
Due: pylint

need // in proto comment.
  py/farm_ng/core/package.py
Due: pylint

FARM_ENUM: Add and test getAll() method for retrieving constexpr (#32)
  cpp/farm_ng/core/enum/enum_test.cpp
  cpp/farm_ng/core/enum/impl/enum_details.h
Due: pragma-once, no-c-std-lib

Ensure runtime version of fmt::format is used in C++20 environments for this code path.
  cpp/farm_ng/core/logging/format.h
Due: pragma-once, no-c-std-lib

Ensure runtime version of fmt::format is used in C++20 environments f… (#36)
  cpp/farm_ng/core/logging/format.h
Due: pragma-once, no-c-std-lib

more enum constexpr functions
  cpp/farm_ng/core/enum/impl/enum_details.h
  cpp/farm_ng/core/enum/impl/enum_flag_details.h
Due: pragma-once, no-c-std-lib

more enum constexpr functions (#37)
  cpp/farm_ng/core/enum/impl/enum_details.h
  cpp/farm_ng/core/enum/impl/enum_flag_details.h
Due: pragma-once, no-c-std-lib

use upstream farm_ng_package
  py/farm_ng/core/package.py
  pyproject.toml
  setup.cfg
  setup.py
Due: pylint

ignore pylint
  setup.py
Due: pylint

add farm-ng-package from pypi
  pyproject.toml
  setup.cfg
Due: none

Upstream farm-ng-pysetup (#38)
  py/farm_ng/core/package.py
  pyproject.toml
  setup.cfg
  setup.py
Due: pylint

update farm-ng-package
  setup.py
Due: pylint

add pypi release workflow
  .github/workflows/pypi-release.yml
  setup.cfg
Due: none

update farm-ng-package (#39)
  setup.py
Due: pylint

Add pypi release workflow (#40)
  .github/workflows/pypi-release.yml
  setup.cfg
Due: none

fixes release workflow
  .github/workflows/pypi-release.yml
  setup.cfg
Due: none

bump version to 0.1.1
  setup.cfg
Due: none

fixes release workflow (#41)
  .github/workflows/pypi-release.yml
  setup.cfg
Due: none

update pypi token
  .github/workflows/pypi-release.yml
Due: none

add pypi badge
  README.md
Due: none

specify readme format
  setup.cfg
Due: none
