Repository farm-ng/farm-ng-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pragma-once, no-c-std-lib

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: (thirdparty|cpp/sophus2)/.*$
      - id: check-yaml
      - id: check-json
        exclude: docs/.*$

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.13
    hooks:
      - id: insert-license
        files: cpp/sophus/.*\.(h|hpp|cpp|proto|ipp)$
        exclude: (thirdparty|sympy/cpp_gencode)/.*$
        args:
          - --comment-style
          - //
          - --license-filepath
          - sophus2_license_header.txt
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.13
    hooks:
      - id: insert-license
        files: \.(h|cpp|proto|ipp)$
        exclude: (thirdparty|cpp/sophus)/.*$
        args:
          - --comment-style
          - //
          - --license-filepath
          - license_header.txt
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.0
    hooks:
      - id: clang-format
        files: \.(h|cpp|ipp)
        exclude: (cpp/sophus/sympy|thirdparty)/.*$
  - repo: local
    hooks:
      - id: pragma-once
        name: pragma once check
        entry: "#pragma once"
        language: pygrep
        exclude: thirdparty/.*$
        files: \.h$
        args: [--negate]
      - id: no-c-std-lib
        name: c standard library check
        exclude: thirdparty/.*$
        entry: |
          (?x)<(
            assert|complex|ctype|errno|fenv|float|inttypes|iso646|limits|locale|math|setjmp|signal|
            stdalign|stdarg|stdatomic|stdbool|stddef|stdint|stdio|stdlib|stdnoreturn|string|tgmath|
            threads|time|uchar|wchar|wctype
          ).h>
        language: pygrep
        files: \.(h|cpp)$
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, perf, test, ci, build, chore, revert]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        exclude: (thirdparty|cpp/sophus2)/.*$
        args:
          - --ignore-words-list
          - "te,tring,crate"
          - --skip
          - "cpp/thirdparty/*,docs/package-lock.json"
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.284
    hooks:
      - id: ruff
        exclude: (thirdparty|cpp/sophus)/.*$
        args: [--fix, --exit-non-zero-on-fix]

Meet new docstring formatting requirements
  py/farm_ng/core/event_service_recorder.py
  py/farm_ng/core/events_file_writer.py
Due: none

Experimenting with dependency providers
  CMakeLists.txt
  cmake/farm_ng_provider.cmake
  cpp/CMakeLists.txt
  cpp/farm_ng/core/CMakeLists.txt
  cpp/farm_ng/core/enum/CMakeLists.txt
  cpp/farm_ng/core/logging/CMakeLists.txt
  cpp/thirdparty/farm_pp/CMakeLists.txt
Due: none

Devcontainer, first pass at vcpkg
  .devcontainer/devcontainer.json
  .devcontainer/requirements.txt
  .gitmodules
  CMakePresets.json
  READMEv2.md
  cmake/farm_ng_provider.cmake
  cpp/farm_ng/core/enum/CMakeLists.txt
  vcpkg-configuration.json
  vcpkg.json
Due: none

Building full library with vcpkg
  CMakeLists.txt
  READMEv2.md
  cpp/CMakeLists.txt
  cpp/farm_ng/core/CMakeLists.txt
  cpp/farm_ng/core/logging/CMakeLists.txt
  cpp/farm_ng/core/misc/CMakeLists.txt
  cpp/farm_ng/core/plotting/CMakeLists.txt
  cpp/farm_ng/core/struct/CMakeLists.txt
  cpp/thirdparty/farm_pp/CMakeLists.txt
  vcpkg.json
Due: none

Experimenting with FetchContent_Declare OVERRIDE_FIND_PACKAGE
  .gitmodules
  CMakeLists.txt
  CMakePresets.json
  cmake/farm_ng_provider.cmake
  vcpkg.json
Due: none

More modules
  CMakeLists.txt
  cmake/farm_ng_ccache.cmake
  cmake/farm_ng_dev_packages.cmake
  cmake/farm_ng_eigen.cmake
Due: none

Add header messages (including latched) to EventsFileWriter (#196)
  py/farm_ng/core/event_service_recorder.py
  py/farm_ng/core/events_file_writer.py
  py/farm_ng/core/uri.py
  py/tests/_asyncio/test_event_service_recorder.py
  py/tests/test_events_file_writer.py
Due: none

Add clang-tidy
  .clang-tidy
  .devcontainer/devcontainer.json
  CMakePresets.json
  READMEv2.md
  cmake/farm_ng_module.cmake
  external/sophus/.clang-tidy
Due: none

More sanitizers
  CMakePresets.json
Due: none

Update README
  .gitignore
  READMEv2.md
Due: none

READMEv2 instructions
  .gitignore
  CMakePresets.json
  READMEv2.md
Due: none

Cleanup
  cmake/farm_ng_eigen.cmake
  cmake/farm_ng_provider.cmake
Due: none

Fix .gitmodules
  .gitmodules
Due: none

Add ceres
  vcpkg.json
Due: none

Fix syntax error in sophus/concepts/point.h
  external/sophus/concepts/point.h
Due: pragma-once, no-c-std-lib

Attempt fix gcc build
  CMakePresets.json
Due: none

Fix CMakePresets.json for gcc builds
  CMakePresets.json
Due: none

Revert changes to module CMakeLists.txt
  cpp/farm_ng/core/enum/CMakeLists.txt
  cpp/farm_ng/core/logging/CMakeLists.txt
  cpp/farm_ng/core/misc/CMakeLists.txt
  cpp/farm_ng/core/struct/CMakeLists.txt
  cpp/thirdparty/farm_pp/CMakeLists.txt
Due: none

Add cli11 to vcpkg.json
  vcpkg.json
Due: none

Remove unused submodules
  .gitmodules
Due: none

Cleanup
  cpp/CMakeLists.txt
  helloworld.cpp
Due: no-c-std-lib

More fixes related to install step
  cmake/farm_ng_add_library.cmake
  cpp/farm_ng/core/plotting/CMakeLists.txt
  cpp/farm_ng/core/proto_conv/calculus/CMakeLists.txt
  cpp/farm_ng/core/proto_conv/color/CMakeLists.txt
  cpp/farm_ng/core/proto_conv/geometry/CMakeLists.txt
  cpp/farm_ng/core/proto_conv/image/CMakeLists.txt
  cpp/farm_ng/core/proto_conv/lie/CMakeLists.txt
  cpp/farm_ng/core/proto_conv/linalg/CMakeLists.txt
  cpp/farm_ng/core/proto_conv/plotting/CMakeLists.txt
  cpp/farm_ng/core/proto_conv/sensor/CMakeLists.txt
  cpp/farm_ng/core/proto_conv/std/CMakeLists.txt
  cpp/farm_ng/core/proto_conv/struct/CMakeLists.txt
  cpp/farm_ng/core/struct/CMakeLists.txt
Due: none

More fixes
  cpp/sophus/interp/CMakeLists.txt
  cpp/sophus/interp/spline/CMakeLists.txt
Due: none

Add find_dependency to config.cmake
  CMakeLists.txt
  cmake/farm_ng_core-config.cmake
Due: none

Initial commit of examples/cpp-vcpkg
  .gitmodules
  cmake/vcpkg/ports/farm-ng-core/portfile.cmake
  cmake/vcpkg/ports/farm-ng-core/vcpkg.json
  examples/cpp-vcpkg/.gitignore
  examples/cpp-vcpkg/CMakeLists.txt
  examples/cpp-vcpkg/CMakePresets.json
  examples/cpp-vcpkg/README.md
  examples/cpp-vcpkg/build.sh
  examples/cpp-vcpkg/helloworld.cpp
  examples/cpp-vcpkg/vcpkg-configuration.json
  examples/cpp-vcpkg/vcpkg.json
Due: no-c-std-lib

Update fmt version
  cpp/farm_ng/core/enum/enum.h
  cpp/farm_ng/core/logging/CMakeLists.txt
  cpp/farm_ng/core/logging/expected.h
  cpp/farm_ng/core/logging/fmt_ceres.h
  cpp/farm_ng/core/logging/fmt_eigen.h
  cpp/farm_ng/core/logging/fmt_grpc.h
  cpp/farm_ng/core/logging/fmt_ptr.h
  cpp/farm_ng/core/logging/format.h
  cpp/farm_ng/core/misc/shared.h
  cpp/farm_ng/core/misc/time_series_test.cpp
  cpp/farm_ng/core/plotting/remote_plotting_client.cpp
  cpp/farm_ng/core/proto_conv/calculus/conv.cpp
  cpp/farm_ng/core/proto_conv/image/conv_test.cpp
  cpp/sophus/common/common.h
  cpp/sophus/image/image_size.h
  cpp/sophus/image/layout.h
  cpp/sophus/image/pixel_format.h
  cpp/sophus/lie/impl/rotation2.h
  examples/cpp-vcpkg/vcpkg.json
  vcpkg.json
Due: pragma-once, no-c-std-lib

Fixup ASan tests
  CMakeLists.txt
  CMakePresets.json
  READMEv2.md
  cmake/ASan_blacklist.txt
  cpp/farm_ng/core/logging/assert_within.h
  cpp/farm_ng/core/logging/logger_test.cpp
  vcpkg.json
Due: pragma-once, no-c-std-lib

Fixup
  CMakePresets.json
  cmake/ASan_blacklist.txt
Due: none

Fix gcc build
  cpp/farm_ng/core/logging/fmt_eigen.h
Due: pragma-once, no-c-std-lib

Add install rule for cmake modules
  CMakeLists.txt
  cmake/CMakeLists.txt
Due: none

Add install rule for sophus
  cpp/sophus/CMakeLists.txt
Due: none

Fixes from cygnet integration
  CMakeLists.txt
  cmake/farm_ng_add_library.cmake
  cmake/farm_ng_add_protobufs.cmake
  cmake/farm_ng_dev_packages.cmake
  cpp/farm_ng/core/logging/fmt_boost.h
  cpp/sophus/CMakeLists.txt
  cpp/sophus/lie/impl/rotation3.h
  examples/cpp-vcpkg/CMakeLists.txt
Due: pragma-once, no-c-std-lib

Attempt overlay ports structure
  cmake/vcpkg/ports/default/farm-ng-core/portfile.cmake
  cmake/vcpkg/ports/default/farm-ng-core/vcpkg.json
  cmake/vcpkg/ports/deps-only/farm-ng-core/portfile.cmake
  cmake/vcpkg/ports/deps-only/farm-ng-core/vcpkg.json
  cmake/vcpkg/ports/farm-ng-core/vcpkg.json
  vcpkg.json
Due: none

Fmt fixes
  cpp/farm_ng/core/enum/enum.h
  cpp/farm_ng/core/logging/fmt_boost.h
  cpp/farm_ng/core/logging/fmt_eigen.h
  cpp/farm_ng/core/logging/format.h
  cpp/farm_ng/core/prototools/proto_reader_writer.h
Due: pragma-once, no-c-std-lib

Fix fmt specialization for gcc
  cpp/farm_ng/core/logging/expected.h
Due: pragma-once, no-c-std-lib

Disable python packaging
  setup.py
Due: none

bump python version to 2.2.0
  setup.cfg
  setup.py
Due: none

Update format.yml workflow
  .github/workflows/format.yml
Due: none
