Repository farm-ng/farm-ng-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pragma-once, no-c-std-lib

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: (thirdparty|cpp/sophus2)/.*$
      - id: check-yaml
      - id: check-json
        exclude: docs/.*$

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.13
    hooks:
      - id: insert-license
        files: cpp/sophus/.*\.(h|hpp|cpp|proto|ipp)$
        exclude: (thirdparty|sympy/cpp_gencode)/.*$
        args:
          - --comment-style
          - //
          - --license-filepath
          - sophus2_license_header.txt
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.13
    hooks:
      - id: insert-license
        files: \.(h|cpp|proto|ipp)$
        exclude: (thirdparty|cpp/sophus)/.*$
        args:
          - --comment-style
          - //
          - --license-filepath
          - license_header.txt
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.0
    hooks:
      - id: clang-format
        files: \.(h|cpp|ipp)
        exclude: (cpp/sophus/sympy|thirdparty)/.*$
  - repo: local
    hooks:
      - id: pragma-once
        name: pragma once check
        entry: "#pragma once"
        language: pygrep
        exclude: thirdparty/.*$
        files: \.h$
        args: [--negate]
      - id: no-c-std-lib
        name: c standard library check
        exclude: thirdparty/.*$
        entry: |
          (?x)<(
            assert|complex|ctype|errno|fenv|float|inttypes|iso646|limits|locale|math|setjmp|signal|
            stdalign|stdarg|stdatomic|stdbool|stddef|stdint|stdio|stdlib|stdnoreturn|string|tgmath|
            threads|time|uchar|wchar|wctype
          ).h>
        language: pygrep
        files: \.(h|cpp)$
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, perf, test, ci, build, chore, revert]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        exclude: (thirdparty|cpp/sophus2)/.*$
        args:
          - --ignore-words-list
          - "te,tring,crate"
          - --skip
          - "cpp/thirdparty/*,docs/package-lock.json"
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.284
    hooks:
      - id: ruff
        exclude: (thirdparty|cpp/sophus)/.*$
        args: [--fix, --exit-non-zero-on-fix]

Try macosx version min.
  setup.py
Due: none

Progress?
  setup.py
Due: none

Thrash.
  setup.py
Due: none

disable deprecation warnings for c++20
  setup.py
Due: none

Try revive macos-latest build -- fails for pybind code (#171)
  .github/workflows/ci_python.yml
  setup.py
Due: none

Add release matrix with macos-latest
  .github/workflows/pypi-release.yml
Due: none

Test python version matrix
  .github/workflows/ci_python.yml
Due: none

Strings for python versions
  .github/workflows/ci_python.yml
Due: none

Add python version matrix for pypi release
  .github/workflows/pypi-release.yml
Due: none

Remove 3.11 from release
  .github/workflows/ci_python.yml
  .github/workflows/pypi-release.yml
Due: none

Fix PyPi release build and test in all PRs (#170)
  .github/workflows/ci_python.yml
  .github/workflows/pypi-release.yml
  setup.cfg
Due: none

Only release python 3.8 pypi packages
  .github/workflows/pypi-release.yml
Due: none

Only release python 3.8 pypi packages (#176)
  .github/workflows/pypi-release.yml
Due: none

wip3
  rs/plotting/Cargo.toml
  rs/plotting/examples/plotting_service_example.rs
  rs/plotting/src/actors/grpc_source.rs
  rs/plotting/src/actors/plotter.rs
  rs/plotting/src/examples/graph_generation.rs
Due: none

Attempted fix for install of header-only libraries
  cmake/farm_ng_add_library.cmake
Due: none

deploy: 77e1fc2c887bfa6f7ab015434f3abc359f0eaa96
  404.html
  assets/css/styles.c2856756.css
  assets/css/styles.d5f62141.css
  docs/Developer Guide/poses_and_frames/index.html
  docs/Developer Guide/style-guide/index.html
  docs/category/contributor-guide/index.html
  docs/intro/index.html
  index.html
  markdown-page/index.html
Due: none

refactor plotter
  Cargo.toml
  cpp/farm_ng/core/plotting/remote_plot_example.cpp
  farm_ng_core.code-workspace
  rs/plotting/.gitignore
  rs/plotting/Cargo.toml
  rs/plotting/build.rs
  rs/plotting/src/actors/grpc_source.rs
  rs/plotting/src/actors/mod.rs
  rs/plotting/src/actors/plotter.rs
  rs/plotting/src/bin/plotter_example.rs
  rs/plotting/src/bin/plotting_service.rs
  rs/plotting/src/graphs/common.rs
  rs/plotting/src/graphs/mod.rs
  rs/plotting/src/graphs/packets.rs
  rs/plotting/src/graphs/scalar_curve.rs
  rs/plotting/src/graphs/vec3_curve.rs
  rs/plotting/src/grpc/mod.rs
  rs/plotting/src/grpc/proto.rs
  rs/plotting/src/lib.rs
  rs/plotting/src/plotter_gui/mod.rs
  rs/remote_plot/src/lib.rs
  rs/remote_plot/src/main.rs
  rs/remote_plot/src/message.rs
  rs/remote_plot/src/plot_gui.rs
  rs/remote_plot/src/plotting_service.rs
Due: no-c-std-lib

Remove some unused protobuf imports.
  protos/farm_ng/core/event_service.proto
  protos/farm_ng/core/pose.proto
Due: none

Add a method for pixel size in sophus::ImageView
  cpp/sophus/image/image_view.h
Due: pragma-once, no-c-std-lib

Add PoseTrack proto def
  protos/farm_ng/core/pose.proto
Due: none

Add a method for pixel size in sophus::ImageView (#181)
  cpp/sophus/image/image_view.h
Due: pragma-once, no-c-std-lib

feat: plot nav improvements
  rs/plotting/Cargo.toml
  rs/plotting/src/actors/grpc_source.rs
  rs/plotting/src/actors/plotter.rs
  rs/plotting/src/bin/plotter_example.rs
  rs/plotting/src/graphs/common.rs
  rs/plotting/src/graphs/packets.rs
  rs/plotting/src/graphs/scalar_curve.rs
  rs/plotting/src/graphs/vec3_curve.rs
  rs/plotting/src/grpc/proto.rs
  rs/plotting/src/plotter_gui/mod.rs
Due: none

lock file
  Cargo.lock
Due: none

foo
  rs/plotting/src/graphs/mod.rs
  rs/plotting/src/graphs/packets.rs
  rs/plotting/src/grpc/proto.rs
  rs/plotting/src/plotter_gui/mod.rs
Due: none

foo
  rs/plotting/src/graphs/vec3_conf_curve.rs
Due: none

feat: plot nav improvements
  cpp/farm_ng/core/plotting/remote_plot_example.cpp
  cpp/farm_ng/core/plotting/types.h
  cpp/farm_ng/core/proto_conv/plotting/conv.cpp
  cpp/farm_ng/core/proto_conv/plotting/conv.h
  protos/farm_ng/core/plotting/plotting.proto
  rs/plotting/Cargo.toml
  rs/plotting/src/actors/grpc_source.rs
  rs/plotting/src/actors/plotter.rs
  rs/plotting/src/bin/plotter_example.rs
  rs/plotting/src/graphs/common.rs
  rs/plotting/src/graphs/mod.rs
  rs/plotting/src/graphs/packets.rs
  rs/plotting/src/graphs/scalar_curve.rs
  rs/plotting/src/graphs/vec3_conf_curve.rs
  rs/plotting/src/grpc/proto.rs
  rs/plotting/src/plotter_gui/mod.rs
Due: pragma-once, no-c-std-lib

deploy: 95b4107ed63c2ae716d5ae93d61aac904c6cb8dd
  404.html
  assets/js/runtime~main.71410925.js
  assets/js/runtime~main.f37b49d5.js
  docs/Developer Guide/poses_and_frames/index.html
  docs/Developer Guide/style-guide/index.html
  docs/category/contributor-guide/index.html
  docs/intro/index.html
  index.html
  markdown-page/index.html
Due: none

fix: ceres jet compilation
  cpp/sophus/lie/impl/translation_factor_group_product.h
Due: pragma-once, no-c-std-lib

fix: ceres jet compilation on gcc #2
  cpp/sophus/linalg/homogeneous.h
Due: pragma-once, no-c-std-lib

deploy: 2c23774d52bc482e043034cd06c3368da5c338d7
  404.html
  assets/js/runtime~main.71410925.js
  assets/js/runtime~main.f37b49d5.js
  docs/Developer Guide/poses_and_frames/index.html
  docs/Developer Guide/style-guide/index.html
  docs/category/contributor-guide/index.html
  docs/intro/index.html
  index.html
  markdown-page/index.html
Due: none

fix: some minor camera fixes
  cpp/sophus/linalg/homogeneous.h
  cpp/sophus/sensor/camera_distortion/brown_conrady.h
  cpp/sophus/sensor/camera_model.h
  cpp/sophus/sensor/camera_rig.h
Due: pragma-once, no-c-std-lib

fix: some more plot tweaks
  cpp/farm_ng/core/plotting/remote_plot_example.cpp
  cpp/farm_ng/core/plotting/types.h
  cpp/farm_ng/core/proto_conv/plotting/conv.cpp
  cpp/farm_ng/core/proto_conv/plotting/conv.h
  protos/farm_ng/core/plotting/plotting.proto
  rs/plotting/src/bin/plotter_example.rs
  rs/plotting/src/graphs/common.rs
  rs/plotting/src/graphs/packets.rs
  rs/plotting/src/graphs/scalar_curve.rs
  rs/plotting/src/graphs/vec3_conf_curve.rs
  rs/plotting/src/graphs/vec3_curve.rs
  rs/plotting/src/grpc/proto.rs
  rs/plotting/src/plotter_gui/mod.rs
Due: pragma-once, no-c-std-lib
