Repository farm-ng/farm-ng-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pragma-once, no-c-std-lib

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
  - repo: local
    hooks:
    - id: pylint
      name: pylint
      entry: bash -c 'pylint "$@" || true' --
      verbose: true
      language: system
      exclude: rst-dir
      types: [python]
      args: ["--good-names-rgxs=^[_a-z][_a-z0-9]?$",
             "--max-args=10",
             "--min-similarity-lines=30"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: thirdparty/.*$
      - id: check-yaml
      - id: check-json
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.13
    hooks:
      - id: insert-license
        files: \.(h|cpp|proto)$
        exclude: thirdparty/.*$
        args:
          - --comment-style
          - //
          - --license-filepath
          - license_header.txt
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.0
    hooks:
      - id: clang-format
        files: \.(h|cpp)
        exclude: (thirdparty)/.*$
  - repo: local
    hooks:
      - id: pragma-once
        name: pragma once check
        entry: "#pragma once"
        language: pygrep
        exclude: thirdparty/.*$
        files: \.h$
        args: [--negate]
      - id: no-c-std-lib
        name: c standard library check
        exclude: thirdparty/.*$
        entry: |
          (?x)<(
            assert|complex|ctype|errno|fenv|float|inttypes|iso646|limits|locale|math|setjmp|signal|
            stdalign|stdarg|stdatomic|stdbool|stddef|stdint|stdio|stdlib|stdnoreturn|string|tgmath|
            threads|time|uchar|wchar|wctype
          ).h>
        language: pygrep
        files: \.(h|cpp)$

Fix the c++ build (#104)
  protos/CMakeLists.txt
Due: none

Claire/pose tree (#102)
  py/farm_ng/core/pose_tree.py
Due: pylint

For some reason FARM_MAYBE_VARGS is causing issues (#98)
  cpp/farm_ng/core/logging/logger.h
  cpp/farm_ng/core/prototools/event_log_writer.cpp
  cpp/farm_ng/core/prototools/event_log_writer.h
Due: pragma-once, no-c-std-lib

Try to fix ci_python - types-protobuf
  setup.cfg
Due: none

Pre-commit fix.
  cpp/farm_ng/core/logging/logger.h
Due: pragma-once, no-c-std-lib

fix mypy protobuf issue: https://github.com/python/typeshed/issues/7519
  setup.cfg
Due: none

Comment setup.cfg.
  setup.cfg
Due: none

Disable mypy for now.
  .github/workflows/ci_python.yml
Due: none

Disable macos
  .github/workflows/ci_python.yml
Due: none

Update python ci to target python 3.8 only
  .github/workflows/ci_python.yml
Due: none

Revert logger.h changes.
  cpp/farm_ng/core/logging/logger.h
Due: pragma-once, no-c-std-lib

Add smoke for event service and client. (#93)
  .github/workflows/ci_python.yml
  config.json
  protos/CMakeLists.txt
  protos/farm_ng/core/event.proto
  protos/farm_ng/core/event_service.proto
  protos/farm_ng/core/image.proto
  protos/farm_ng/core/lie.proto
  protos/farm_ng/core/linalg.proto
  protos/farm_ng/core/pose.proto
  py/farm_ng/core/event_client.py
  py/farm_ng/core/event_service.py
  py/farm_ng/core/event_service_recorder.py
  py/farm_ng/core/event_service_tool.py
  py/farm_ng/core/events_file_reader.py
  py/farm_ng/core/events_file_writer.py
  py/farm_ng/core/pose_tree.py
  py/farm_ng/core/stamp.py
  py/farm_ng/core/uri.py
  py/tests/event_common.py
  py/tests/test_event_client.py
  py/tests/test_event_service.py
  py/tests/test_event_service_recorder.py
  setup.cfg
Due: pylint

enable back mypy
  .github/workflows/ci_python.yml
  py/farm_ng/core/event_client.py
  py/farm_ng/core/event_service.py
  py/farm_ng/core/event_service_recorder.py
  py/farm_ng/core/events_file_reader.py
  py/farm_ng/core/events_file_writer.py
  py/tests/test_event_client.py
  py/tests/test_event_service.py
Due: pylint

enable back mypy
  py/farm_ng/core/event_client.py
Due: pylint

fix wrong logic
  py/farm_ng/core/events_file_writer.py
Due: pylint

Add a few third-party dependencies.
  .gitmodules
Due: none

more fixes
  py/farm_ng/core/event_service.py
  py/tests/test_core.py
  py/tests/test_event_client.py
  setup.cfg
Due: pylint

all mypy passing
  py/farm_ng/core/event_client.py
  setup.cfg
Due: pylint

make sure mypy runs against library
  .github/workflows/ci_python.yml
Due: none

add checkspeel in the precommit
  .pre-commit-config.yaml
  README.md
  cpp/farm_ng/core/enum/enum_flags_without_ostream.h
  cpp/farm_ng/core/logging/logger.h
  cpp/farm_ng/core/logging/test_common.h
  cpp/farm_ng/core/logging/trace_debug_log.h
  cpp/farm_ng/core/misc/shared.h
  docs/docs/Developer Guide/style-guide.md
  infra/scripts/venv_export_env_vars.sh
  protos/farm_ng/core/lie.proto
Due: pragma-once, no-c-std-lib

add ruff
  .pre-commit-config.yaml
  .ruff.toml
  py/farm_ng/core/__init__.py
  py/farm_ng/core/event_client.py
  py/farm_ng/core/event_service.py
  py/farm_ng/core/event_service_recorder.py
  py/farm_ng/core/event_service_tool.py
  py/farm_ng/core/events_file_reader.py
  py/farm_ng/core/events_file_writer.py
  py/farm_ng/core/stamp.py
  py/farm_ng/core/uri.py
  py/tests/test_core.py
  py/tests/test_event_client.py
  py/tests/test_event_service.py
  py/tests/test_event_service_recorder.py
  py/tests/test_uri.py
Due: pylint

ci fixes
  .pre-commit-config.yaml
  py/farm_ng/core/event_service_recorder.py
Due: pylint

Add get_stamp_by_semantics as a utility function
  py/farm_ng/core/stamp.py
Due: pylint

from __future__ import annotations
  py/farm_ng/core/stamp.py
Due: pylint

apply more ruff rules
  .github/workflows/ci_python.yml
  .ruff.toml
  py/farm_ng/core/event_client.py
  py/farm_ng/core/event_service.py
  py/farm_ng/core/event_service_recorder.py
  py/farm_ng/core/event_service_tool.py
  py/farm_ng/core/events_file_reader.py
  py/farm_ng/core/events_file_writer.py
  py/farm_ng/core/pose_tree.py
  py/farm_ng/core/uri.py
  py/tests/event_common.py
  py/tests/test_core.py
  py/tests/test_event_client.py
  py/tests/test_event_service.py
  py/tests/test_event_service_recorder.py
  py/tests/test_uri.py
Due: pylint

fix setup.py
  setup.py
Due: pylint

Add a few third-party dependencies. (#107)
  .gitmodules
Due: none

Enable mypy, codespell and Ruff (#106)
  .github/workflows/ci_python.yml
  .pre-commit-config.yaml
  .ruff.toml
  README.md
  cpp/farm_ng/core/enum/enum_flags_without_ostream.h
  cpp/farm_ng/core/logging/logger.h
  cpp/farm_ng/core/logging/test_common.h
  cpp/farm_ng/core/logging/trace_debug_log.h
  cpp/farm_ng/core/misc/shared.h
  docs/docs/Developer Guide/style-guide.md
  infra/scripts/venv_export_env_vars.sh
  protos/farm_ng/core/lie.proto
  py/farm_ng/core/__init__.py
  py/farm_ng/core/event_client.py
  py/farm_ng/core/event_service.py
  py/farm_ng/core/event_service_recorder.py
  py/farm_ng/core/event_service_tool.py
  py/farm_ng/core/events_file_reader.py
  py/farm_ng/core/events_file_writer.py
  py/farm_ng/core/pose_tree.py
  py/farm_ng/core/stamp.py
  py/farm_ng/core/uri.py
  py/tests/event_common.py
  py/tests/test_core.py
  py/tests/test_event_client.py
  py/tests/test_event_service.py
  py/tests/test_event_service_recorder.py
  py/tests/test_uri.py
  setup.cfg
  setup.py
Due: pylint, pragma-once, no-c-std-lib

deploy: 1192305afdec0e27be379a34596865e38c4d181d
  404.html
  assets/js/bb5231e5.27ea0cc1.js
  assets/js/bb5231e5.6e74a018.js
  assets/js/runtime~main.5d2497e2.js
  assets/js/runtime~main.e4f23922.js
  docs/Developer Guide/style-guide/index.html
  docs/Overview/enum/index.html
  docs/Overview/index.html
  docs/Overview/logging/index.html
  docs/Overview/misc/index.html
  docs/Overview/prototools/index.html
  docs/category/contributor-guide/index.html
  docs/category/user-guide/index.html
  docs/intro/index.html
  index.html
  markdown-page/index.html
Due: none

More consistent use of timestamp semantics
  py/farm_ng/core/event_client.py
  py/farm_ng/core/event_service.py
  py/farm_ng/core/stamp.py
Due: pylint

get sophus to build
  .github/workflows/release.yml
  .gitmodules
  CMakeLists.txt
  cpp/sophus2/.vscode/extensions.json
  cpp/sophus2/CMakeLists.txt
  cpp/sophus2/infra/scripts/venv_update_prefix_deps.sh
  infra/scripts/compile_clang.sh
  infra/scripts/compile_gcc.sh
  infra/scripts/install_deps_ubuntu.sh
  infra/scripts/venv_update_prefix_deps.sh
Due: none

try to build build with venv to work
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  infra/scripts/venv_update_prefix_deps.sh
Due: none

try to creae release
  .github/workflows/release.yml
Due: none

try to creae release
  .github/workflows/release.yml
  cmake/.gitignore
  cmake/.pre-commit-config.yaml
  cmake/CMakeLists.txt
  cmake/LICENSE
  cmake/README.md
  cmake/bootstrap_venv.sh
  cmake/cmake/External_apriltag.cmake
  cmake/cmake/External_boost.cmake
  cmake/cmake/External_ceres.cmake
  cmake/cmake/External_cli11.cmake
  cmake/cmake/External_eigen.cmake
  cmake/cmake/External_expected.cmake
  cmake/cmake/External_farm-ng-cmake.cmake
  cmake/cmake/External_fmt.cmake
  cmake/cmake/External_grpc.cmake
  cmake/cmake/External_nlohmann_json.cmake
  cmake/cmake/farm_ng_add_library.cmake
  cmake/cmake/farm_ng_add_protobufs.cmake
  cmake/cmake/farm_ng_add_test.cmake
  cmake/cmake/farm_ng_cmakeConfig.cmake
  cmake/cmake/farm_ng_cmakeConfigVersion.cmake
  cmake/cmake/farm_ng_default_args.cmake
  cmake/cmake/farm_ng_macos_ssl_fix.cmake
  cmake/cmake/farm_ng_module.cmake
  cmake/cmake/farm_ng_moduleConfig.cmake.in
  cmake/scripts/download_release.sh
  cmake/scripts/install_deps_mac.sh
  cmake/scripts/install_deps_ubuntu.sh
  cpp/sophus2/infra/scripts/install_cmake_farm_ng_core.sh
  cpp/sophus2/infra/scripts/install_deps_without_ceres_proto.sh
  cpp/sophus2/infra/scripts/venv_update_prefix_deps.sh
  farm-ng-cmake/.github/workflows/release.yml
  farm-ng-cmake/cmake/External_farm-ng-cmake.cmake
  infra/scripts/install_farm_ng_cmake.sh
  infra/scripts/venv_update_prefix_deps.sh
Due: none
