Repository farm-ng/farm-ng-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pragma-once, no-c-std-lib

pylint:
  name: pylint
  entry: bash -c 'pylint "$@" || true' --
  verbose: true
  language: system
  args:
  - --good-names-rgxs=^[_a-z][_a-z0-9]?$
  - --max-args=10
  - --min-similarity-lines=30

pragma-once:
  name: pragma once check
  entry: '#pragma once'
  language: pygrep
  args:
  - --negate

no-c-std-lib:
  name: c standard library check
  entry: "(?x)<(\n  assert|complex|ctype|errno|fenv|float|inttypes|iso646|limits|locale|math|setjmp|signal|\n  stdalign|stdarg|stdatomic|stdbool|stddef|stdint|stdio|stdlib|stdnoreturn|string|tgmath|\n  threads|time|uchar|wchar|wctype\n).h>\n"
  language: pygrep

Test rollover behavior
  py/tests/test_core.py
Due: pylint

Move tests for Shared<> from Pangolin
  cpp/farm_ng/core/misc/shared_test.cpp
Due: no-c-std-lib

Back to specifying file_base & extension distinctly
  py/farm_ng/core/events_file_writer.py
Due: pylint

Update tests accordingly
  py/tests/test_core.py
Due: pylint

Test file_idx & max_file_size
  py/tests/test_core.py
Due: pylint

Separate path for Reader than Writer
  py/tests/test_core.py
Due: pylint

Add get_system_clock_now method
  py/farm_ng/core/stamp.py
Due: pylint

Reduce file_idx complexity
  py/farm_ng/core/events_file_writer.py
Due: pylint

No longer true
  py/tests/test_core.py
Due: pylint

Unit test for system clock
  py/tests/test_stamp.py
Due: pylint

Add extension as part of file name again
  py/farm_ng/core/events_file_writer.py
Due: pylint

log should now have .0000 inserted
  py/tests/test_core.py
Due: pylint

Handle rollover internally with EventsFileWriter
  py/farm_ng/core/events_file_writer.py
Due: pylint

Log both clocks (monotonic & system) on write
  py/farm_ng/core/events_file_writer.py
Due: pylint

Increment to v0.1.4
  setup.cfg
Due: none

Increment to v0.1.4 (#60)
  setup.cfg
Due: none

FARM_WARN instead of FARM_PANIC for PrettyPrinting enum with bad value.
  cpp/farm_ng/core/enum/impl/enum_details.h
Due: pragma-once, no-c-std-lib

fix: add missing-include
  cpp/farm_ng/core/logging/logger.h
Due: pragma-once, no-c-std-lib

fix: add missing-include (#63)
  cpp/farm_ng/core/logging/logger.h
Due: pragma-once, no-c-std-lib

Move tests for Shared<> from Pangolin (#59)
  cpp/farm_ng/core/misc/shared_test.cpp
Due: no-c-std-lib

First pass at log levels
  cpp/farm_ng/core/logging/logger.h
  cpp/farm_ng/core/logging/logger_test.cpp
Due: pragma-once, no-c-std-lib

Port remaining macros
  cpp/farm_ng/core/logging/CMakeLists.txt
  cpp/farm_ng/core/logging/logger.cpp
  cpp/farm_ng/core/logging/logger.h
  cpp/farm_ng/core/logging/logger_test.cpp
Due: pragma-once, no-c-std-lib

Add timestamp, cleanup
  cpp/farm_ng/core/logging/logger.cpp
  cpp/farm_ng/core/logging/logger.h
  cpp/farm_ng/core/logging/logger_test.cpp
Due: pragma-once, no-c-std-lib

Break dependency between enum and logging
  cpp/farm_ng/core/enum/CMakeLists.txt
  cpp/farm_ng/core/enum/impl/enum_details.h
Due: pragma-once, no-c-std-lib

Use FARM_ENUM in logger
  cpp/farm_ng/core/enum/CMakeLists.txt
  cpp/farm_ng/core/logging/CMakeLists.txt
  cpp/farm_ng/core/logging/logger.cpp
  cpp/farm_ng/core/logging/logger.h
Due: pragma-once, no-c-std-lib

Update default FARM_LOG_LEVEL
  cpp/farm_ng/core/logging/logger.h
Due: pragma-once, no-c-std-lib

Fixup
  cpp/farm_ng/core/logging/logger_test.cpp
Due: no-c-std-lib

Update logger_test.cpp
  cpp/farm_ng/core/logging/logger_test.cpp
Due: no-c-std-lib

Add CTEST_OUTPUT_ON_FAILURE
  .github/workflows/ci.yml
Due: none

Add log level filtering and log header formatting (#65)
  .github/workflows/ci.yml
  cpp/farm_ng/core/enum/CMakeLists.txt
  cpp/farm_ng/core/enum/impl/enum_details.h
  cpp/farm_ng/core/logging/CMakeLists.txt
  cpp/farm_ng/core/logging/logger.cpp
  cpp/farm_ng/core/logging/logger.h
  cpp/farm_ng/core/logging/logger_test.cpp
Due: pragma-once, no-c-std-lib

Remove #define in logger_test
  cpp/farm_ng/core/logging/logger_test.cpp
Due: no-c-std-lib

feat: log level per computation unit
  cpp/farm_ng/core/logging/log_macros.h
  cpp/farm_ng/core/logging/logger.h
  cpp/farm_ng/core/logging/logger_test.cpp
  cpp/farm_ng/core/prototools/event_log_reader.cpp
Due: pragma-once, no-c-std-lib

ci: revert to standard build approach
  .github/workflows/ci.yml
  .gitmodules
  infra/bootstrap_venv.sh
  infra/scripts/compile_clang.sh
  infra/scripts/compile_gcc.sh
  infra/scripts/install_deps_mac.sh
  infra/scripts/install_deps_ubuntu.sh
  infra/scripts/install_farm_ng_cmake.sh
  infra/scripts/venv_activate.sh
  infra/scripts/venv_export_env_vars.sh
  infra/scripts/venv_update_prefix_deps.sh
  run_clang_tidy.sh
  super_project/.gitignore
  super_project/CMakeLists.txt
Due: none

ci: revert to standard build approach (#68)
  .github/workflows/ci.yml
  .gitmodules
  infra/bootstrap_venv.sh
  infra/scripts/compile_clang.sh
  infra/scripts/compile_gcc.sh
  infra/scripts/install_deps_mac.sh
  infra/scripts/install_deps_ubuntu.sh
  infra/scripts/install_farm_ng_cmake.sh
  infra/scripts/venv_activate.sh
  infra/scripts/venv_export_env_vars.sh
  infra/scripts/venv_update_prefix_deps.sh
  run_clang_tidy.sh
  super_project/.gitignore
  super_project/CMakeLists.txt
Due: none

feat: nlohmann_json
  .github/workflows/ci.yml
  .gitmodules
  farm_ng_core.code-workspace
  infra/bootstrap_venv.sh
Due: none

Add json (#64)
  .github/workflows/ci.yml
  .gitmodules
  farm_ng_core.code-workspace
  infra/bootstrap_venv.sh
Due: none

Path conditions:
  pylint: any of: \.py$, but not: rst-dir
  pragma-once: any of: \.h$, but not: thirdparty/.*$
  no-c-std-lib: any of: \.(h|cpp)$, but not: thirdparty/.*$
