Repository farm-ng/farm-ng-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pragma-once, no-c-std-lib

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: \.tftpl$
      - id: check-yaml
      - id: check-json
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.13
    hooks:
      - id: insert-license
        files: \.(h|cpp)$
        exclude: thirdparty/.*$
        args:
          - --comment-style
          - //
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.0
    hooks:
      - id: clang-format
        exclude: thirdparty/.*$
  - repo: local
    hooks:
      - id: pragma-once
        name: pragma once check
        entry: "#pragma once"
        language: pygrep
        files: \.h$
        args: [--negate]
        exclude: thirdparty/.*$
      - id: no-c-std-lib
        name: c standard library check
        entry: |
          (?x)<(
            assert|complex|ctype|errno|fenv|float|inttypes|iso646|limits|locale|math|setjmp|signal|
            stdalign|stdarg|stdatomic|stdbool|stddef|stdint|stdio|stdlib|stdnoreturn|string|tgmath|
            threads|time|uchar|wchar|wctype
          ).h>
        language: pygrep
        files: \.(h|cpp)$
        exclude: (thirdparty/.*$)

Boost header only
  .github/workflows/ci.yml
  CMakeLists.txt
  cmake/fng_coreConfig.cmake.in
  examples/test_install_targets/CMakeLists.txt
  examples/test_install_targets/compile_all.cpp
  fng_core/enum/CMakeLists.txt
  fng_core/logging/CMakeLists.txt
  fng_core/logging/expected_test.cpp
  fng_core/utils/CMakeLists.txt
Due: no-c-std-lib

fix
  CMakeLists.txt
Due: none

Update CMakeLists.txt
  CMakeLists.txt
Due: none

Boost header only
  fng_core/logging/CMakeLists.txt
Due: none

FNG_MAP_INSERT
  fng_core/logging/logger.h
  fng_core/logging/logger_test.cpp
Due: pragma-once, no-c-std-lib

downgrade cmake requirement to 3.23
  cpp/CMakeLists.txt
  cpp/examples/test_install_targets/CMakeLists.txt
Due: none

cpp protos
  .github/workflows/ci.yml
  cmake/farm_ng_coreConfig.cmake.in
  cmake/farm_ng_core_add_test.cmake
  cpp/CMakeLists.txt
  cpp/cmake/farm_ng_core_add_test.cmake
  cpp/examples/test_install_targets/CMakeLists.txt
  cpp/examples/test_install_targets/compile_all.cpp
  cpp/examples/test_install_targets/compile_all_proto.cpp
  cpp/farm_ng/core/CMakeLists.txt
  cpp/farm_ng/core/enum/CMakeLists.txt
  cpp/farm_ng/core/logging/CMakeLists.txt
  cpp/farm_ng/core/misc/CMakeLists.txt
  cpp/farm_ng/core/misc/to_from_proto.cpp
  cpp/farm_ng/core/misc/to_from_proto.h
  cpp/farm_ng/core/misc/to_from_proto_test.cpp
  cpp/farm_ng/core/misc/uri.h
  cpp/farm_ng/core/misc/uri_test.cpp
  cpp/farm_ng/core/protobuf/CMakeLists.txt
  cpp/farm_ng/core/protobuf/proto_reader_writer.cpp
  cpp/farm_ng/core/protobuf/proto_reader_writer.h
  cpp/farm_ng/core/protobuf/proto_reader_writer_test.cpp
  cpp/thirdparty/farm_pp/CMakeLists.txt
  protos/farm_ng/core/misc.proto
Due: pragma-once, no-c-std-lib

ci
  .github/workflows/ci.yml
Due: none

ci
  cpp/farm_ng/core/CMakeLists.txt
  cpp/farm_ng/core/misc/CMakeLists.txt
  cpp/farm_ng/core/misc/uri.h
  cpp/run_clang_tidy.sh
Due: pragma-once, no-c-std-lib

add events proto and python workflow
  .github/workflows/ci_python.yml
  protos/event.proto
  python/.gitignore
  python/farm_ng/__init__.py
  python/farm_ng/core/__init__.py
  python/farm_ng/core/events_file_reader.py
  python/farm_ng/core/events_file_writer.py
  python/farm_ng/core/uri.py
  python/setup.cfg
  python/setup.py
  python/tests/tests/__init__.py
  python/tests/tests/test_core.py
  python/tests/tests/test_package.py
Due: none

add events proto and python workflow
  .github/workflows/ci_python.yml
  python/.gitignore
  python/farm_ng/__init__.py
  python/farm_ng/core/events_file_reader.py
  python/farm_ng/core/uri.py
  python/setup.cfg
  python/tests/tests/test_core.py
Due: none

working
  .github/workflows/ci.yml
  CMakeLists.txt
  cmake/farm_ng_core_add_test.cmake
  cpp/CMakeLists.txt
  cpp/examples/test_install_targets/CMakeLists.txt
  cpp/examples/test_install_targets/compile_all.cpp
  cpp/farm_ng/core/misc/CMakeLists.txt
  run_clang_tidy.sh
Due: no-c-std-lib

working
  .github/workflows/ci.yml
Due: none

farm-ng-core protos (#8)
  .github/workflows/ci.yml
  CMakeLists.txt
  cmake/farm_ng_coreConfig.cmake.in
  cmake/farm_ng_core_add_test.cmake
  cpp/CMakeLists.txt
  cpp/cmake/farm_ng_core_add_test.cmake
  cpp/examples/test_install_targets/CMakeLists.txt
  cpp/examples/test_install_targets/compile_all.cpp
  cpp/examples/test_install_targets/compile_all_proto.cpp
  cpp/farm_ng/core/CMakeLists.txt
  cpp/farm_ng/core/enum/CMakeLists.txt
  cpp/farm_ng/core/logging/CMakeLists.txt
  cpp/farm_ng/core/misc/CMakeLists.txt
  cpp/farm_ng/core/misc/to_from_proto.cpp
  cpp/farm_ng/core/misc/to_from_proto.h
  cpp/farm_ng/core/misc/to_from_proto_test.cpp
  cpp/farm_ng/core/misc/uri.h
  cpp/farm_ng/core/misc/uri_test.cpp
  cpp/farm_ng/core/protobuf/CMakeLists.txt
  cpp/farm_ng/core/protobuf/proto_reader_writer.cpp
  cpp/farm_ng/core/protobuf/proto_reader_writer.h
  cpp/farm_ng/core/protobuf/proto_reader_writer_test.cpp
  cpp/run_clang_tidy.sh
  cpp/thirdparty/farm_pp/CMakeLists.txt
  protos/farm_ng/core/misc.proto
  run_clang_tidy.sh
Due: pragma-once, no-c-std-lib

remove spammy warning
  cmake/farm_ng_core_add_test.cmake
Due: none

default proto builds to OFF
  CMakeLists.txt
Due: none

prepare for sophus protos
  .clang-format
  .clang-tidy
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CMakeLists.txt
  cpp/CMakeLists.txt
  cpp/examples/test_install_targets/CMakeLists.txt
  cpp/examples/test_install_targets/compile_all_proto.cpp
  cpp/farm_ng/core/CMakeLists.txt
  cpp/farm_ng/core/enum/impl/enum_details.h
  cpp/farm_ng/core/enum/impl/enum_flag_details.h
  cpp/farm_ng/core/logging/expected.h
  cpp/farm_ng/core/logging/format.h
  cpp/farm_ng/core/logging/logger.h
  cpp/farm_ng/core/misc/CMakeLists.txt
  cpp/farm_ng/core/misc/erase.h
  cpp/farm_ng/core/misc/filesystem.h
  cpp/farm_ng/core/misc/proto/CMakeLists.txt
  cpp/farm_ng/core/misc/proto/conv.cpp
  cpp/farm_ng/core/misc/proto/conv.h
  cpp/farm_ng/core/misc/proto/conv_test.cpp
  cpp/farm_ng/core/misc/stopwatch.h
  cpp/farm_ng/core/misc/tokenize.h
  cpp/farm_ng/core/misc/uri.h
  cpp/farm_ng/core/protobuf/CMakeLists.txt
  cpp/farm_ng/core/prototools/CMakeLists.txt
  cpp/farm_ng/core/prototools/proto_reader_writer.cpp
  cpp/farm_ng/core/prototools/proto_reader_writer.h
  cpp/farm_ng/core/prototools/proto_reader_writer_test.cpp
  protos/farm_ng/core.proto
  protos/farm_ng/core/misc.proto
  run_clang_tidy.sh
Due: pragma-once, no-c-std-lib

prepare for sophus protos (#11)
  .clang-format
  .clang-tidy
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CMakeLists.txt
  cpp/CMakeLists.txt
  cpp/examples/test_install_targets/CMakeLists.txt
  cpp/examples/test_install_targets/compile_all_proto.cpp
  cpp/farm_ng/core/CMakeLists.txt
  cpp/farm_ng/core/enum/impl/enum_details.h
  cpp/farm_ng/core/enum/impl/enum_flag_details.h
  cpp/farm_ng/core/logging/expected.h
  cpp/farm_ng/core/logging/format.h
  cpp/farm_ng/core/logging/logger.h
  cpp/farm_ng/core/misc/CMakeLists.txt
  cpp/farm_ng/core/misc/erase.h
  cpp/farm_ng/core/misc/filesystem.h
  cpp/farm_ng/core/misc/proto/CMakeLists.txt
  cpp/farm_ng/core/misc/proto/conv.cpp
  cpp/farm_ng/core/misc/proto/conv.h
  cpp/farm_ng/core/misc/proto/conv_test.cpp
  cpp/farm_ng/core/misc/stopwatch.h
  cpp/farm_ng/core/misc/tokenize.h
  cpp/farm_ng/core/misc/uri.h
  cpp/farm_ng/core/protobuf/CMakeLists.txt
  cpp/farm_ng/core/prototools/CMakeLists.txt
  cpp/farm_ng/core/prototools/proto_reader_writer.cpp
  cpp/farm_ng/core/prototools/proto_reader_writer.h
  cpp/farm_ng/core/prototools/proto_reader_writer_test.cpp
  protos/farm_ng/core.proto
  protos/farm_ng/core/misc.proto
  run_clang_tidy.sh
Due: pragma-once, no-c-std-lib

macro fix
  cpp/farm_ng/core/logging/expected.h
Due: pragma-once, no-c-std-lib

format update
  .clang-format
  cpp/farm_ng/core/misc/variant_utils.h
Due: pragma-once, no-c-std-lib

activate prot test
  .github/workflows/ci.yml
  cpp/CMakeLists.txt
  cpp/examples/test_install_targets/CMakeLists.txt
  cpp/farm_ng/core/misc/proto/CMakeLists.txt
  cpp/farm_ng/core/misc/proto/conv_test.cpp
Due: no-c-std-lib

activate proto test (#12)
  .github/workflows/ci.yml
  cpp/CMakeLists.txt
  cpp/examples/test_install_targets/CMakeLists.txt
  cpp/farm_ng/core/misc/proto/CMakeLists.txt
  cpp/farm_ng/core/misc/proto/conv_test.cpp
Due: no-c-std-lib

add lib aliases
  cpp/farm_ng/core/enum/CMakeLists.txt
  cpp/farm_ng/core/logging/CMakeLists.txt
  cpp/farm_ng/core/misc/CMakeLists.txt
Due: none

working
  cmake/farm_ng_core_add_test.cmake
Due: none

proto (#13)
  cmake/farm_ng_core_add_test.cmake
Due: none

wip.
  CMakeLists.txt
  cmake/External_expected.cmake
  cmake/External_fmt.cmake
  cmake/External_subdir_farm_ng_core.cmake
  cmake/farm_ng_add_library.cmake
  cmake/farm_ng_add_protobufs.cmake
  cmake/farm_ng_add_test.cmake
  cmake/farm_ng_core_add_test.cmake
  cmake/farm_ng_default_args.cmake
  cpp/CMakeLists.txt
  cpp/farm_ng/core/enum/CMakeLists.txt
  cpp/farm_ng/core/logging/CMakeLists.txt
  cpp/farm_ng/core/logging/expected.cpp
  cpp/farm_ng/core/logging/expected.h
  cpp/farm_ng/core/logging/format.cpp
  cpp/farm_ng/core/logging/format.h
  cpp/farm_ng/core/misc/CMakeLists.txt
  cpp/farm_ng/core/misc/proto/CMakeLists.txt
  cpp/farm_ng/core/prototools/CMakeLists.txt
  cpp/thirdparty/farm_pp/CMakeLists.txt
  protos/event.proto
  protos/farm_ng/core/event.proto
  protos/farm_ng/core/timestamp.proto
  protos/farm_ng/core/uri.proto
Due: pragma-once, no-c-std-lib

Working pretty well so far.
  CMakeLists.txt
  cmake/External_ceres.cmake
  cmake/External_eigen.cmake
  cmake/External_subdir_farm_ng_core.cmake
  cmake/External_subdir_sophus.cmake
  cmake/farm_ng_add_library.cmake
  cmake/farm_ng_add_protobufs.cmake
  cmake/farm_ng_coreConfig.cmake.in
  cmake/farm_ng_default_args.cmake
  cpp/CMakeLists.txt
  cpp/farm_ng/core/logging/CMakeLists.txt
  cpp/farm_ng/core/misc/proto/conv.cpp
  cpp/farm_ng/core/misc/proto/conv.h
  cpp/thirdparty/farm_pp/CMakeLists.txt
  protos/CMakeLists.txt
Due: pragma-once, no-c-std-lib

Working super project.
  cmake/External_subdir_Sophus.cmake
  cmake/External_subdir_farm-ng-core.cmake
  cpp/examples/test_install_targets/CMakeLists.txt
Due: none

assume namespace in proto macro
  cmake/farm_ng_add_protobufs.cmake
Due: none

Update semantic version to 0.1.0
  CMakeLists.txt
  cpp/CMakeLists.txt
Due: none

Add note on exporting targets from the the build tree.
  cpp/CMakeLists.txt
Due: none

format
  CMakeLists.txt
  cmake/External_ceres.cmake
  cmake/External_eigen.cmake
  cmake/External_expected.cmake
  cmake/External_subdir_Sophus.cmake
  cmake/External_subdir_farm-ng-core.cmake
  cmake/farm_ng_add_library.cmake
  cmake/farm_ng_add_protobufs.cmake
  cmake/farm_ng_add_test.cmake
  cmake/farm_ng_coreConfig.cmake.in
  cmake/farm_ng_default_args.cmake
  cpp/CMakeLists.txt
  cpp/examples/test_install_targets/CMakeLists.txt
  cpp/farm_ng/core/logging/expected.cpp
  cpp/farm_ng/core/logging/format.cpp
  cpp/farm_ng/core/misc/CMakeLists.txt
  cpp/farm_ng/core/prototools/CMakeLists.txt
  cpp/thirdparty/farm_pp/CMakeLists.txt
  protos/farm_ng/core/event.proto
  protos/farm_ng/core/timestamp.proto
Due: no-c-std-lib

python
  .github/workflows/ci_python.DISABLEDyml
  .pre-commit-config.yaml
  .pylintrc
  cmake/farm_ng_add_protobufs.cmake
  cmake/farm_ng_coreConfig.cmake.in
  py/.gitignore
  py/farm_ng/__init__.py
  py/farm_ng/core/__init__.py
  py/farm_ng/core/events_file_reader.py
  py/farm_ng/core/events_file_writer.py
  py/farm_ng/core/uri.py
  py/setup.cfg
  py/setup.py
  py/tests/tests/__init__.py
  py/tests/tests/test_core.py
  py/tests/tests/test_package.py
Due: none
