Repository farm-ng/farm-ng-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pragma-once, no-c-std-lib

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: (thirdparty|cpp/sophus2)/.*$
      - id: check-yaml
      - id: check-json
        exclude: docs/.*$

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.13
    hooks:
      - id: insert-license
        files: cpp/sophus/.*\.(h|hpp|cpp|proto|ipp)$
        exclude: (thirdparty|sympy/cpp_gencode)/.*$
        args:
          - --comment-style
          - //
          - --license-filepath
          - sophus2_license_header.txt
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.13
    hooks:
      - id: insert-license
        files: \.(h|cpp|proto|ipp)$
        exclude: (thirdparty|cpp/sophus)/.*$
        args:
          - --comment-style
          - //
          - --license-filepath
          - license_header.txt
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.0
    hooks:
      - id: clang-format
        files: \.(h|cpp|ipp)
        exclude: (cpp/sophus/sympy|thirdparty)/.*$
  - repo: local
    hooks:
      - id: pragma-once
        name: pragma once check
        entry: "#pragma once"
        language: pygrep
        exclude: thirdparty/.*$
        files: \.h$
        args: [--negate]
      - id: no-c-std-lib
        name: c standard library check
        exclude: thirdparty/.*$
        entry: |
          (?x)<(
            assert|complex|ctype|errno|fenv|float|inttypes|iso646|limits|locale|math|setjmp|signal|
            stdalign|stdarg|stdatomic|stdbool|stddef|stdint|stdio|stdlib|stdnoreturn|string|tgmath|
            threads|time|uchar|wchar|wctype
          ).h>
        language: pygrep
        files: \.(h|cpp)$
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, perf, test, ci, build, chore, revert]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        exclude: (thirdparty|cpp/sophus2)/.*$
        args:
          - --ignore-words-list
          - "te,tring,crate"
          - --skip
          - "cpp/thirdparty/*,docs/package-lock.json"
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.284
    hooks:
      - id: ruff
        exclude: (thirdparty|cpp/sophus)/.*$
        args: [--fix, --exit-non-zero-on-fix]

Try using latest mirrors-mypy release
  .pre-commit-config.yaml
Due: none

Try older version of python
  .github/workflows/format.yml
Due: none

Fix issue by pinning types-protobuf==4.24.0.1
  .pre-commit-config.yaml
Due: none

Revert "Try older version of python"
  .github/workflows/format.yml
Due: none

Fix pre-commit check / format.yml workflow (#206)
  .github/workflows/format.yml
  .pre-commit-config.yaml
Due: none

deploy: 69e1ddd6b6fdccdb082766321d9bdcecc0f1164f
  404.html
  assets/js/main.9ff9fc55.js
  assets/js/main.9ff9fc55.js.LICENSE.txt
  assets/js/main.af0677c0.js
  docs/Developer Guide/poses_and_frames/index.html
  docs/Developer Guide/style-guide/index.html
  docs/category/contributor-guide/index.html
  docs/intro/index.html
  index.html
  markdown-page/index.html
Due: none

bump python version to 2.2.0 (#205)
  setup.cfg
  setup.py
Due: none

bump version v2.2.1-dev
  setup.cfg
  setup.py
Due: none

bump version v2.2.1-dev (#207)
  setup.cfg
  setup.py
Due: none

Add FARM_PROTO_CONV_ENUM_IMPL
  cpp/farm_ng/core/proto_conv/plotting/conv.cpp
  cpp/farm_ng/core/proto_conv/struct/conv_impl_macro.ipp
  cpp/farm_ng/core/proto_conv/struct/conv_impl_macro_test.cpp
  protos/farm_ng/core/examples.proto
Due: no-c-std-lib

style: apply precommit
  .devcontainer/devcontainer.json
  .devcontainer/requirements.txt
  .gitignore
  CMakeLists.txt
  cmake/CMakeLists.txt
  cmake/farm_ng_core-config.cmake
  cmake/vcpkg/ports/default/farm-ng-core/portfile.cmake
  cpp/farm_ng/core/logging/expected.h
  cpp/farm_ng/core/logging/fmt_boost.h
  cpp/farm_ng/core/logging/fmt_ceres.h
  cpp/farm_ng/core/logging/fmt_eigen.h
  cpp/farm_ng/core/logging/fmt_grpc.h
  cpp/farm_ng/core/logging/fmt_ptr.h
  cpp/farm_ng/core/misc/time_series_test.cpp
  cpp/farm_ng/core/plotting/remote_plotting_client.cpp
  cpp/sophus/image/image_size.h
  cpp/sophus/image/layout.h
  cpp/sophus/image/pixel_format.h
  examples/cpp-vcpkg/.gitignore
  examples/cpp-vcpkg/CMakeLists.txt
  examples/cpp-vcpkg/helloworld.cpp
  protos/farm_ng/core/examples.proto
Due: pragma-once, no-c-std-lib

feat: toShared() and copyToMut() for image
  cpp/sophus/image/image.h
  cpp/sophus/image/image_view.h
  cpp/sophus/image/mut_image.h
Due: pragma-once, no-c-std-lib

feat: MultiCameraRig proto
  cpp/farm_ng/core/proto_conv/sensor/conv.cpp
  cpp/farm_ng/core/proto_conv/sensor/conv.h
  protos/farm_ng/core/sensor.proto
Due: pragma-once, no-c-std-lib

Update conv.cpp
  cpp/farm_ng/core/proto_conv/sensor/conv.cpp
Due: no-c-std-lib

Add a read_payload() method to the events reader
  py/farm_ng/core/events_file_reader.py
Due: none

feat: proto <-> optional<>/std::vector<> conv for primitive and non/primitive types
  cpp/farm_ng/core/proto_conv/calculus/conv.cpp
  cpp/farm_ng/core/proto_conv/lie/CMakeLists.txt
  cpp/farm_ng/core/proto_conv/lie/conv.cpp
  cpp/farm_ng/core/proto_conv/lie/conv.h
  cpp/farm_ng/core/proto_conv/plotting/conv.cpp
  cpp/farm_ng/core/proto_conv/std/conv.cpp
  cpp/farm_ng/core/proto_conv/std/conv.h
  cpp/farm_ng/core/proto_conv/std/optional_message_impl_macro.ipp
  cpp/farm_ng/core/proto_conv/std/optional_primitive_impl_macro.ipp
  cpp/farm_ng/core/proto_conv/std/repeated_message_impl_macro.ipp
  cpp/farm_ng/core/proto_conv/std/repeated_primitive_impl_macro.ipp
  protos/farm_ng/core/lie.proto
  protos/farm_ng/core/std.proto
Due: pragma-once, no-c-std-lib

Update std.proto
  protos/farm_ng/core/std.proto
Due: none

Add degFromRad for Eigen dense objects
  cpp/farm_ng/core/misc/conversions.h
  cpp/farm_ng/core/misc/conversions_test.cpp
Due: pragma-once, no-c-std-lib

Support visit for a pair of images
  cpp/sophus2/image/image_types.h
  cpp/sophus2/image/image_types_test.cpp
Due: pragma-once, no-c-std-lib

feat: struct and tokenize tweaks
  cpp/farm_ng/core/misc/tokenize.h
  cpp/farm_ng/core/misc/tokenize_test.cpp
  cpp/farm_ng/core/struct/base.h
  cpp/farm_ng/core/struct/base_test.cpp
  cpp/farm_ng/core/struct/struct.h
  cpp/farm_ng/core/struct/struct_test.cpp
  cpp/sophus2/image/image_types.h
Due: pragma-once, no-c-std-lib

Add FARM_WARN_EVERY_N() macro
  cpp/farm_ng/core/logging/logger.h
Due: pragma-once, no-c-std-lib

repeated uint32
  cpp/farm_ng/core/proto_conv/std/conv.cpp
  cpp/farm_ng/core/proto_conv/std/conv.h
  protos/farm_ng/core/std.proto
Due: pragma-once, no-c-std-lib

Add filename option to log formatting
  cpp/farm_ng/core/logging/logger.cpp
  cpp/farm_ng/core/logging/logger.h
Due: pragma-once, no-c-std-lib

feat: batch/SIMD processiong feature for eigen/sophus2
  cpp/farm_ng/core/logging/assert_within.h
  cpp/sophus/linalg/CMakeLists.txt
  cpp/sophus2/concepts/division_ring_prop_tests.h
  cpp/sophus2/lie/impl/rotation2.h
  cpp/sophus2/linalg/CMakeLists.txt
  cpp/sophus2/linalg/batch.h
  cpp/sophus2/linalg/batch_test.cpp
  cpp/sophus2/manifold/CMakeLists.txt
  cpp/sophus2/manifold/complex.h
  cpp/sophus2/manifold/complex_test.cpp
  cpp/sophus2/manifold/unit_vector.h
  cpp/sophus2/sensor/camera_distortion/brown_conrady.h
Due: pragma-once, no-c-std-lib
