Repository farm-ng/farm-ng-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pragma-once, no-c-std-lib

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
  - repo: local
    hooks:
    - id: pylint
      name: pylint
      entry: bash -c 'pylint "$@" || true' --
      verbose: true
      language: system
      exclude: rst-dir
      types: [python]
      args: ["--good-names-rgxs=^[_a-z][_a-z0-9]?$",
             "--max-args=10",
             "--min-similarity-lines=30"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: thirdparty/.*$
      - id: check-yaml
      - id: check-json
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.13
    hooks:
      - id: insert-license
        files: \.(h|cpp|proto)$
        exclude: thirdparty/.*$
        args:
          - --comment-style
          - //
          - --license-filepath
          - license_header.txt
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.0
    hooks:
      - id: clang-format
        files: \.(h|cpp)
        exclude: (thirdparty)/.*$
  - repo: local
    hooks:
      - id: pragma-once
        name: pragma once check
        entry: "#pragma once"
        language: pygrep
        exclude: thirdparty/.*$
        files: \.h$
        args: [--negate]
      - id: no-c-std-lib
        name: c standard library check
        exclude: thirdparty/.*$
        entry: |
          (?x)<(
            assert|complex|ctype|errno|fenv|float|inttypes|iso646|limits|locale|math|setjmp|signal|
            stdalign|stdarg|stdatomic|stdbool|stddef|stdint|stdio|stdlib|stdnoreturn|string|tgmath|
            threads|time|uchar|wchar|wctype
          ).h>
        language: pygrep
        files: \.(h|cpp)$

Add utility - timestamp_from_monotonic
  py/farm_ng/core/stamp.py
Due: pylint

Add utility - `timestamp_from_monotonic` (#43)
  py/farm_ng/core/stamp.py
Due: pylint

specify readme format (#42)
  setup.cfg
Due: none

patch to fix indexing
  cpp/farm_ng/core/prototools/event_log_writer_test.cpp
Due: no-c-std-lib

patch to fix indexing (#46)
  cpp/farm_ng/core/prototools/event_log_writer_test.cpp
Due: no-c-std-lib

remove unused imports
  py/tests/test_core.py
Due: pylint

implement EventLogPosition
  py/farm_ng/core/events_file_reader.py
  py/tests/__init__.py
  py/tests/test_core.py
  py/tests/test_package.py
  py/tests/test_stamp.py
  py/tests/test_uri.py
  py/tests/tests/__init__.py
Due: pylint

remove test from mypy
  setup.cfg
Due: none

Update setup.cfg
  setup.cfg
Due: none

Increment v0.1.2 (#48)
  setup.cfg
Due: none

remove api complexity
  py/farm_ng/core/events_file_reader.py
  py/tests/test_core.py
Due: pylint

Apply suggestions from code review
  py/farm_ng/core/events_file_reader.py
Due: pylint

fix from suggestions
  py/farm_ng/core/events_file_reader.py
  py/tests/test_core.py
Due: pylint

remove commented code
  py/farm_ng/core/events_file_reader.py
Due: pylint

simplify more api
  py/farm_ng/core/events_file_reader.py
  py/tests/test_core.py
Due: pylint

Add `EventLogPosition` python wrapper (#47)
  py/farm_ng/core/events_file_reader.py
  py/tests/__init__.py
  py/tests/test_core.py
  py/tests/test_package.py
  py/tests/test_stamp.py
  py/tests/test_uri.py
  py/tests/tests/__init__.py
  setup.cfg
Due: pylint

bump python 0.1.3 version
  setup.cfg
Due: none

clang-build
  .github/workflows/ci.yml
  cpp/examples/test_install_targets/CMakeLists.txt
  cpp/farm_ng/core/prototools/event_log_reader.cpp
  super_project/CMakeLists.txt
Due: no-c-std-lib

clang-build (#49)
  .github/workflows/ci.yml
  cpp/examples/test_install_targets/CMakeLists.txt
  cpp/farm_ng/core/prototools/event_log_reader.cpp
  super_project/CMakeLists.txt
Due: no-c-std-lib

fix possible UB
  cpp/farm_ng/core/logging/format.cpp
  cpp/farm_ng/core/logging/format.h
Due: pragma-once, no-c-std-lib

attempt to harmonize assert macro naming between farm-ng-core, sophus and Pangolin
  CMakeLists.txt
  cpp/examples/test_install_targets/compile_all.cpp
  cpp/farm_ng/core/enum/impl/enum_details.h
  cpp/farm_ng/core/logging/expected.h
  cpp/farm_ng/core/logging/expected_test.cpp
  cpp/farm_ng/core/logging/format_test.cpp
  cpp/farm_ng/core/logging/logger.h
  cpp/farm_ng/core/logging/logger_test.cpp
  cpp/farm_ng/core/misc/proto/conv_test.cpp
  cpp/farm_ng/core/misc/stopwatch.h
  cpp/farm_ng/core/prototools/event_log_reader.cpp
  cpp/farm_ng/core/prototools/proto_reader_writer.cpp
  cpp/farm_ng/core/prototools/proto_reader_writer.h
  run_clang_tidy.sh
Due: pragma-once, no-c-std-lib

attempt to harmonize assert macro naming between Pangolin, farm-ng-core, and sophus (#51)
  CMakeLists.txt
  cpp/examples/test_install_targets/compile_all.cpp
  cpp/farm_ng/core/enum/impl/enum_details.h
  cpp/farm_ng/core/logging/expected.h
  cpp/farm_ng/core/logging/expected_test.cpp
  cpp/farm_ng/core/logging/format_test.cpp
  cpp/farm_ng/core/logging/logger.h
  cpp/farm_ng/core/logging/logger_test.cpp
  cpp/farm_ng/core/misc/proto/conv_test.cpp
  cpp/farm_ng/core/misc/stopwatch.h
  cpp/farm_ng/core/prototools/event_log_reader.cpp
  cpp/farm_ng/core/prototools/proto_reader_writer.cpp
  cpp/farm_ng/core/prototools/proto_reader_writer.h
  run_clang_tidy.sh
Due: pragma-once, no-c-std-lib

from pango2: Shared
  cpp/farm_ng/core/logging/expected.h
  cpp/farm_ng/core/logging/expected_test.cpp
  cpp/farm_ng/core/misc/CMakeLists.txt
  cpp/farm_ng/core/misc/concept_utils.h
  cpp/farm_ng/core/misc/copy_shared.h
  cpp/farm_ng/core/misc/shared.h
  cpp/farm_ng/core/misc/shared_test.cpp
Due: pragma-once, no-c-std-lib

should pick CXX config from farm-ng-core
  CMakeLists.txt
Due: none

from pango2: Shared (#52)
  CMakeLists.txt
  cpp/farm_ng/core/logging/expected.h
  cpp/farm_ng/core/logging/expected_test.cpp
  cpp/farm_ng/core/misc/CMakeLists.txt
  cpp/farm_ng/core/misc/concept_utils.h
  cpp/farm_ng/core/misc/copy_shared.h
  cpp/farm_ng/core/misc/shared.h
  cpp/farm_ng/core/misc/shared_test.cpp
Due: pragma-once, no-c-std-lib

ci: apply clang-tidy 12
  .pre-commit-config.yaml
  run_clang_tidy.sh
  super_project/CMakeLists.txt
Due: none

ci: apply clang-tidy 12 (#55)
  .pre-commit-config.yaml
  run_clang_tidy.sh
  super_project/CMakeLists.txt
Due: none

chore: remove unused code: copy_share and +operator()
  cpp/farm_ng/core/misc/CMakeLists.txt
  cpp/farm_ng/core/misc/copy_shared.h
  cpp/farm_ng/core/misc/shared.h
Due: pragma-once, no-c-std-lib

style: convential commits enforced
  .pre-commit-config.yaml
Due: none

Add get_system_clock_now method
  py/farm_ng/core/stamp.py
Due: pylint

Unit test for system clock
  py/tests/test_stamp.py
Due: pylint

Handle rollover internally with EventsFileWriter
  py/farm_ng/core/events_file_writer.py
Due: pylint

Add extension as part of file name again
  py/farm_ng/core/events_file_writer.py
Due: pylint

log should now have .0000 inserted
  py/tests/test_core.py
Due: pylint

No longer true
  py/tests/test_core.py
Due: pylint

Log both clocks (monotonic & system) on write
  py/farm_ng/core/events_file_writer.py
Due: pylint

Reduce file_idx complexity
  py/farm_ng/core/events_file_writer.py
Due: pylint

Separate path for Reader than Writer
  py/tests/test_core.py
Due: pylint
