Repository farm-ng/farm-ng-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pragma-once, no-c-std-lib

pragma-once:
  name: pragma once check
  entry: '#pragma once'
  language: pygrep
  args:
  - --negate

no-c-std-lib:
  name: c standard library check
  entry: "(?x)<(\n  assert|complex|ctype|errno|fenv|float|inttypes|iso646|limits|locale|math|setjmp|signal|\n  stdalign|stdarg|stdatomic|stdbool|stddef|stdint|stdio|stdlib|stdnoreturn|string|tgmath|\n  threads|time|uchar|wchar|wctype\n).h>\n"
  language: pygrep

Revert "Increment dev version to 2.3.2-dev (#245)"
  setup.cfg
  setup.py
Due: none

Revert "Increment dev version to 2.3.2-dev (#245)" (#248)
  setup.cfg
  setup.py
Due: none

Increment dev version to 2.3.2-dev
  setup.cfg
  setup.py
Due: none

Increment dev version to 2.3.2-dev (#249)
  setup.cfg
  setup.py
Due: none

Proto for live annotations
  protos/farm_ng/core/recorder.proto
Due: none

Use double instead of timestamp
  protos/farm_ng/core/recorder.proto
Due: none

Revert "Use double instead of timestamp"
  protos/farm_ng/core/recorder.proto
Due: none

List of stamps instead of single one
  protos/farm_ng/core/recorder.proto
Due: none

Full import!
  protos/farm_ng/core/recorder.proto
Due: none

List of timestamps instead of single stamp
  protos/farm_ng/core/recorder.proto
Due: none

Proto for live annotations (#250)
  protos/farm_ng/core/recorder.proto
Due: none

fix stopwatch stats bug
  cpp/farm_ng/core/misc/stopwatch.h
Due: pragma-once, no-c-std-lib

update RecorderProfile proto
  protos/farm_ng/core/recorder.proto
Due: none

file prefix field
  protos/farm_ng/core/recorder.proto
Due: none

warn if queueing messages.
  cpp/farm_ng/core/pipeline/input.h
Due: pragma-once, no-c-std-lib

Logger configured with log path, not log directory
  cpp/farm_ng/core/logging/logger.cpp
  cpp/farm_ng/core/logging/logger.h
Due: pragma-once, no-c-std-lib

warn if queuing messages. (#253)
  cpp/farm_ng/core/pipeline/input.h
Due: pragma-once, no-c-std-lib

Feat text log path (#254)
  cpp/farm_ng/core/logging/logger.cpp
  cpp/farm_ng/core/logging/logger.h
Due: pragma-once, no-c-std-lib

revert output format + file prefix; for a later date / never
  protos/farm_ng/core/recorder.proto
Due: none

Update RecorderProfile proto to include metadata, image output format (#252)
  protos/farm_ng/core/recorder.proto
Due: none

deploy: 5118d5e9527db1349e43215778646f799fa2e241
  404.html
  assets/js/runtime~main.0ae0cab3.js
  assets/js/runtime~main.392faf92.js
  docs/Developer Guide/poses_and_frames/index.html
  docs/Developer Guide/style-guide/index.html
  docs/category/contributor-guide/index.html
  docs/intro/index.html
  index.html
  markdown-page/index.html
Due: none

fix: don't panic on invalid (log) format syntax
  cpp/farm_ng/core/logging/format.h
  cpp/farm_ng/core/logging/format_test.cpp
Due: pragma-once, no-c-std-lib

feat: proto-conf for clipping-planes
  cpp/farm_ng/core/proto_conv/sensor/conv.cpp
  cpp/farm_ng/core/proto_conv/sensor/conv.h
Due: pragma-once, no-c-std-lib

feat: make grpc backoff timeout a param
  cpp/farm_ng/core/plotting/remote_plotting_client.cpp
  cpp/farm_ng/core/plotting/remote_plotting_client.h
Due: pragma-once, no-c-std-lib

feat: pass queue-size to input functor
  cpp/farm_ng/core/pipeline/component.h
  cpp/farm_ng/core/pipeline/input.h
Due: pragma-once, no-c-std-lib

format
  cpp/farm_ng/core/logging/format.h
  cpp/farm_ng/core/misc/stopwatch.h
  cpp/farm_ng/core/pipeline/component.h
  cpp/farm_ng/core/pipeline/input.h
  cpp/farm_ng/core/plotting/remote_plotting_client.cpp
Due: pragma-once, no-c-std-lib

Fix plotting component name
  cpp/farm_ng/core/plotting/plotting_component.cpp
Due: no-c-std-lib

lock grpcio, protobuf versions
  setup.cfg
Due: none

Update pre-commit to
  .pre-commit-config.yaml
Due: none

Also pin grpcio-tools==1.64.1
  setup.cfg
Due: none

mv grpcio-tools pin to dev requires
  setup.cfg
Due: none

Pin grpcio-tools==1.64.1 both places
  setup.cfg
Due: none

Working locally - move to pyproject.toml
  pyproject.toml
  setup.cfg
Due: none

Some cleanup
  setup.cfg
Due: none

Path conditions:
  pragma-once: any of: \.h$, but not: thirdparty/.*$
  no-c-std-lib: any of: \.(h|cpp)$, but not: thirdparty/.*$
