Repository farm-ng/farm-ng-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pragma-once, no-c-std-lib

pylint:
  name: pylint
  entry: bash -c 'pylint "$@" || true' --
  verbose: true
  language: system
  args:
  - --good-names-rgxs=^[_a-z][_a-z0-9]?$
  - --max-args=10
  - --min-similarity-lines=30

pragma-once:
  name: pragma once check
  entry: '#pragma once'
  language: pygrep
  args:
  - --negate

no-c-std-lib:
  name: c standard library check
  entry: "(?x)<(\n  assert|complex|ctype|errno|fenv|float|inttypes|iso646|limits|locale|math|setjmp|signal|\n  stdalign|stdarg|stdatomic|stdbool|stddef|stdint|stdio|stdlib|stdnoreturn|string|tgmath|\n  threads|time|uchar|wchar|wctype\n).h>\n"
  language: pygrep

Test passing.
  py/farm_ng/core/events_file_reader.py
  py/farm_ng/core/events_file_writer.py
  py/farm_ng/core/stamp.py
  py/farm_ng/core/uri.py
  py/tests/tests/test_core.py
Due: pylint

More coverage.
  py/farm_ng/core/events_file_reader.py
  py/farm_ng/core/uri.py
  py/tests/tests/test_core.py
Due: pylint

Unused imports.
  py/farm_ng/core/events_file_reader.py
Due: pylint

Version bump to 0.1.0 on python to match c++
  py/setup.cfg
Due: none

seek working, TODO rethink the behavior here.
  py/farm_ng/core/events_file_reader.py
  py/tests/tests/test_core.py
Due: pylint

offsets -> event index.
  py/farm_ng/core/events_file_reader.py
  py/tests/tests/test_core.py
Due: pylint

Add c++ reader/writer first pass.
  .gitignore
  cpp/farm_ng/core/prototools/CMakeLists.txt
  cpp/farm_ng/core/prototools/event_log_reader.cpp
  cpp/farm_ng/core/prototools/event_log_reader.h
  cpp/farm_ng/core/prototools/event_log_writer.cpp
  cpp/farm_ng/core/prototools/event_log_writer.h
  cpp/farm_ng/core/prototools/event_log_writer_test.cpp
Due: pragma-once, no-c-std-lib

Write in c++ manually verified read in python.
  cpp/farm_ng/core/prototools/event_log_reader.cpp
  cpp/farm_ng/core/prototools/event_log_writer.cpp
  cpp/farm_ng/core/prototools/event_log_writer_test.cpp
  py/farm_ng/core/events_file_reader.py
Due: pylint, no-c-std-lib

Get rid of filelength assert.
  py/tests/tests/test_core.py
Due: pylint

add more tests and typings
  py/farm_ng/core/events_file_reader.py
  py/farm_ng/core/events_file_writer.py
  py/farm_ng/core/uri.py
  py/setup.py
  py/tests/tests/test_core.py
  py/tests/tests/test_stamp.py
  py/tests/tests/test_uri.py
Due: pylint

fix length test
  py/tests/tests/test_core.py
Due: pylint

enable mypy again
  .github/workflows/ci_python.yml
Due: none

Import reader/writer from amiga-brain-api (#19)
  .github/workflows/ci_python.yml
  .gitignore
  .pylintrc
  .vscode/settings.json
  cpp/farm_ng/core/prototools/CMakeLists.txt
  cpp/farm_ng/core/prototools/event_log_reader.cpp
  cpp/farm_ng/core/prototools/event_log_reader.h
  cpp/farm_ng/core/prototools/event_log_writer.cpp
  cpp/farm_ng/core/prototools/event_log_writer.h
  cpp/farm_ng/core/prototools/event_log_writer_test.cpp
  py/README.md
  py/farm_ng/__init__.py
  py/farm_ng/core/__init__.py
  py/farm_ng/core/events_file_reader.py
  py/farm_ng/core/events_file_writer.py
  py/farm_ng/core/stamp.py
  py/farm_ng/core/uri.py
  py/setup.cfg
  py/setup.py
  py/tests/tests/test_core.py
  py/tests/tests/test_package.py
  py/tests/tests/test_stamp.py
  py/tests/tests/test_uri.py
  super_project/CMakeLists.txt
Due: pylint, pragma-once, no-c-std-lib

fix CI - POSIX related issue
  cpp/farm_ng/core/prototools/event_log_writer.cpp
  cpp/farm_ng/core/prototools/event_log_writer_test.cpp
Due: no-c-std-lib

fix CI - POSIX related issue (#21)
  cpp/farm_ng/core/prototools/event_log_writer.cpp
  cpp/farm_ng/core/prototools/event_log_writer_test.cpp
Due: no-c-std-lib

readme: mac build
  README.md
Due: none

readme: mac build (#22)
  README.md
Due: none

Update README.md
  README.md
Due: none

specify the proto file path and type
  py/farm_ng/core/events_file_reader.py
  py/farm_ng/core/uri.py
  py/tests/tests/test_core.py
  py/tests/tests/test_uri.py
Due: pylint

include type & pb
  py/farm_ng/core/events_file_reader.py
  py/farm_ng/core/uri.py
  py/tests/tests/test_uri.py
Due: pylint

improve docs
  py/farm_ng/core/events_file_reader.py
Due: pylint

add assert and fix test
  py/farm_ng/core/events_file_reader.py
  py/tests/tests/test_core.py
Due: pylint

Add backtrace support in FARM_CHECK.
  cpp/farm_ng/core/logging/CMakeLists.txt
  cpp/farm_ng/core/logging/backtrace.cpp
  cpp/farm_ng/core/logging/backtrace.h
  cpp/farm_ng/core/logging/format.h
Due: pragma-once, no-c-std-lib

back trace working on linux.
  cpp/farm_ng/core/logging/backtrace.cpp
Due: no-c-std-lib

Backtrace (#24)
  cpp/farm_ng/core/logging/CMakeLists.txt
  cpp/farm_ng/core/logging/backtrace.cpp
  cpp/farm_ng/core/logging/backtrace.h
  cpp/farm_ng/core/logging/format.h
Due: pragma-once, no-c-std-lib

specify the proto file path and type (#23)
  py/farm_ng/core/events_file_reader.py
  py/farm_ng/core/uri.py
  py/tests/tests/test_core.py
  py/tests/tests/test_uri.py
Due: pylint

cmake fix
  cpp/examples/test_install_targets/CMakeLists.txt
  cpp/farm_ng/core/CMakeLists.txt
  cpp/farm_ng/core/misc/CMakeLists.txt
  super_project/CMakeLists.txt
Due: none

cmake fix (#25)
  cpp/examples/test_install_targets/CMakeLists.txt
  cpp/farm_ng/core/CMakeLists.txt
  cpp/farm_ng/core/misc/CMakeLists.txt
  super_project/CMakeLists.txt
Due: none

update Uri proto
  cpp/farm_ng/core/misc/proto/conv.cpp
  cpp/farm_ng/core/misc/proto/conv.h
  cpp/farm_ng/core/misc/proto/conv_test.cpp
  cpp/farm_ng/core/misc/uri.h
Due: pragma-once, no-c-std-lib

Zipping working well, breaking api change.
  cpp/farm_ng/core/prototools/event_log_reader.cpp
  cpp/farm_ng/core/prototools/event_log_reader.h
  cpp/farm_ng/core/prototools/event_log_writer.cpp
  cpp/farm_ng/core/prototools/event_log_writer.h
  cpp/farm_ng/core/prototools/event_log_writer_test.cpp
Due: pragma-once, no-c-std-lib

pre-commit.
  cpp/farm_ng/core/prototools/event_log_reader.cpp
  cpp/farm_ng/core/prototools/event_log_reader.h
  cpp/farm_ng/core/prototools/event_log_writer_test.cpp
Due: pragma-once, no-c-std-lib

test for strict ordering.
  cpp/farm_ng/core/prototools/event_log_writer_test.cpp
Due: no-c-std-lib

Add post-processing example.
  cpp/farm_ng/core/prototools/event_log_reader.cpp
  cpp/farm_ng/core/prototools/event_log_reader.h
  cpp/farm_ng/core/prototools/event_log_writer.cpp
  cpp/farm_ng/core/prototools/event_log_writer.h
  cpp/farm_ng/core/prototools/event_log_writer_test.cpp
Due: pragma-once, no-c-std-lib

update Uri struct (#26)
  cpp/farm_ng/core/misc/proto/conv.cpp
  cpp/farm_ng/core/misc/proto/conv.h
  cpp/farm_ng/core/misc/proto/conv_test.cpp
  cpp/farm_ng/core/misc/uri.h
Due: pragma-once, no-c-std-lib

Small fixes for C++20
  cpp/farm_ng/core/logging/expected.h
  cpp/farm_ng/core/logging/logger.h
  cpp/farm_ng/core/prototools/event_log_reader.cpp
Due: pragma-once, no-c-std-lib

Small fixes for C++20 (#28)
  cpp/farm_ng/core/logging/expected.h
  cpp/farm_ng/core/logging/logger.h
  cpp/farm_ng/core/prototools/event_log_reader.cpp
Due: pragma-once, no-c-std-lib

Fix FARM_UNWRAP for rvalue arguments
  cpp/farm_ng/core/logging/expected.h
  cpp/farm_ng/core/logging/logger.h
Due: pragma-once, no-c-std-lib

Review comments.
  cpp/farm_ng/core/prototools/event_log_reader.cpp
  cpp/farm_ng/core/prototools/event_log_reader.h
  cpp/farm_ng/core/prototools/event_log_writer.cpp
  cpp/farm_ng/core/prototools/event_log_writer.h
  cpp/farm_ng/core/prototools/event_log_writer_test.cpp
Due: pragma-once, no-c-std-lib

Zipping working well, breaking api change. (#27)
  cpp/farm_ng/core/prototools/event_log_reader.cpp
  cpp/farm_ng/core/prototools/event_log_reader.h
  cpp/farm_ng/core/prototools/event_log_writer.cpp
  cpp/farm_ng/core/prototools/event_log_writer.h
  cpp/farm_ng/core/prototools/event_log_writer_test.cpp
Due: pragma-once, no-c-std-lib

format
  cpp/farm_ng/core/logging/logger.h
Due: pragma-once, no-c-std-lib

Path conditions:
  pylint: any of: \.py$, but not: rst-dir
  pragma-once: any of: \.h$, but not: thirdparty/.*$
  no-c-std-lib: any of: \.(h|cpp)$, but not: thirdparty/.*$
